source/test-resources/xforms/customer-tests/nyronian-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="title" type="xs:normalizedString"/>
   <xs:element name="text" type="xs:string"/>
   <xs:element name="picture" type="xs:anyURI"/>
   <xs:element name="heading" type="xs:normalizedString"/>
   <xs:element name="document">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="ContentHeadingMain"/>
            <xs:element ref="ContentHeading"/>
            <xs:element ref="Features"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Features">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="heading"/>
            <xs:element ref="ContentFeature" minOccurs="1" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ContentHeadingMain">
      <xs:complexType>
         <xs:attribute name="title" type="xs:normalizedString" use="required"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="ContentHeading">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="title"/>
            <xs:element ref="text"/>
            <xs:element ref="picture"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ContentFeature">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="text"/>
            <xs:element ref="picture"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema> 

