source/test/dotnet/CmisWS/Service References/NavigationService/NavigationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://www.cmis.org/ns/1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://www.cmis.org/2008/05" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://cxf.apache.org/bindings/xformat" name="NavigationService" targetNamespace="http://www.cmis.org/ns/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.cmis.org/2008/05" location="https://localhost:8443/alfresco/cmis/NavigationService?wsdl=NavigationServicePort.wsdl" />
  <wsdl:types />
  <wsdl:message name="getCheckedoutDocsResponse">
    <wsdl:part name="parameters" element="ns1:getCheckedoutDocsResponse" />
  </wsdl:message>
  <wsdl:message name="getObjectParents">
    <wsdl:part name="parameters" element="ns1:getObjectParents" />
  </wsdl:message>
  <wsdl:message name="getFolderParentResponse">
    <wsdl:part name="parameters" element="ns1:getFolderParentResponse" />
  </wsdl:message>
  <wsdl:message name="getFolderParent">
    <wsdl:part name="parameters" element="ns1:getFolderParent" />
  </wsdl:message>
  <wsdl:message name="getChildrenResponse">
    <wsdl:part name="parameters" element="ns1:getChildrenResponse" />
  </wsdl:message>
  <wsdl:message name="getDescendantsResponse">
    <wsdl:part name="parameters" element="ns1:getDescendantsResponse" />
  </wsdl:message>
  <wsdl:message name="getDescendants">
    <wsdl:part name="parameters" element="ns1:getDescendants" />
  </wsdl:message>
  <wsdl:message name="getChildren">
    <wsdl:part name="parameters" element="ns1:getChildren" />
  </wsdl:message>
  <wsdl:message name="getObjectParentsResponse">
    <wsdl:part name="parameters" element="ns1:getObjectParentsResponse" />
  </wsdl:message>
  <wsdl:message name="getCheckedoutDocs">
    <wsdl:part name="parameters" element="ns1:getCheckedoutDocs" />
  </wsdl:message>
  <wsdl:binding name="NavigationServiceSoapBinding" type="ns1:NavigationServicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCheckedoutDocs">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCheckedoutDocs">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCheckedoutDocsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FilterNotValidException">
        <soap:fault use="literal" name="FilterNotValidException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FolderNotValidException">
        <soap:fault use="literal" name="FolderNotValidException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getChildren">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getChildren">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getChildrenResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FilterNotValidException">
        <soap:fault use="literal" name="FilterNotValidException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FolderNotValidException">
        <soap:fault use="literal" name="FolderNotValidException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getObjectParents">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getObjectParents">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getObjectParentsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FilterNotValidException">
        <soap:fault use="literal" name="FilterNotValidException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FolderNotValidException">
        <soap:fault use="literal" name="FolderNotValidException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFolderParent">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getFolderParent">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getFolderParentResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FilterNotValidException">
        <soap:fault use="literal" name="FilterNotValidException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FolderNotValidException">
        <soap:fault use="literal" name="FolderNotValidException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDescendants">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDescendants">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDescendantsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FilterNotValidException">
        <soap:fault use="literal" name="FilterNotValidException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FolderNotValidException">
        <soap:fault use="literal" name="FolderNotValidException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NavigationService">
    <wsdl:port name="NavigationServicePort" binding="tns:NavigationServiceSoapBinding">
      <soap:address location="https://localhost:8443/alfresco/cmis/NavigationService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>