source/test-resources/xforms/unit-tests/output-method-callout-test/output-method-callout.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
  <xs:element name="simple">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="string" type="xs:string" default="default string value"/>
	<xs:element name="uri" type="xs:anyURI" default="/index.jsp"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
