source/test/dotnet/CmisWS/Service References/ObjectService/ObjectService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://www.cmis.org/ns/1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://www.cmis.org/2008/05" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://cxf.apache.org/bindings/xformat" name="ObjectService" targetNamespace="http://www.cmis.org/ns/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.cmis.org/2008/05" location="https://localhost:8443/alfresco/cmis/ObjectService?wsdl=ObjectServicePort.wsdl" />
  <wsdl:types />
  <wsdl:message name="deleteObject">
    <wsdl:part name="parameters" element="ns1:deleteObject" />
  </wsdl:message>
  <wsdl:message name="getAllowableActionsResponse">
    <wsdl:part name="parameters" element="ns1:getAllowableActionsResponse" />
  </wsdl:message>
  <wsdl:message name="createFolder">
    <wsdl:part name="parameters" element="ns1:createFolder" />
  </wsdl:message>
  <wsdl:message name="deleteObjectResponse">
    <wsdl:part name="parameters" element="ns1:deleteObjectResponse" />
  </wsdl:message>
  <wsdl:message name="createDocument">
    <wsdl:part name="parameters" element="ns1:createDocument" />
  </wsdl:message>
  <wsdl:message name="deleteContentStream">
    <wsdl:part name="parameters" element="ns1:deleteContentStream" />
  </wsdl:message>
  <wsdl:message name="updateProperties">
    <wsdl:part name="parameters" element="ns1:updateProperties" />
  </wsdl:message>
  <wsdl:message name="getProperties">
    <wsdl:part name="parameters" element="ns1:getProperties" />
  </wsdl:message>
  <wsdl:message name="getAllowableActions">
    <wsdl:part name="parameters" element="ns1:getAllowableActions" />
  </wsdl:message>
  <wsdl:message name="setContentStreamResponse">
    <wsdl:part name="parameters" element="ns1:setContentStreamResponse" />
  </wsdl:message>
  <wsdl:message name="createDocumentResponse">
    <wsdl:part name="parameters" element="ns1:createDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="deleteTreeResponse">
    <wsdl:part name="parameters" element="ns1:deleteTreeResponse" />
  </wsdl:message>
  <wsdl:message name="moveObject">
    <wsdl:part name="parameters" element="ns1:moveObject" />
  </wsdl:message>
  <wsdl:message name="moveObjectResponse">
    <wsdl:part name="parameters" element="ns1:moveObjectResponse" />
  </wsdl:message>
  <wsdl:message name="createPolicy">
    <wsdl:part name="parameters" element="ns1:createPolicy" />
  </wsdl:message>
  <wsdl:message name="getContentStreamResponse">
    <wsdl:part name="parameters" element="ns1:getContentStreamResponse" />
  </wsdl:message>
  <wsdl:message name="setContentStream">
    <wsdl:part name="parameters" element="ns1:setContentStream" />
  </wsdl:message>
  <wsdl:message name="createFolderResponse">
    <wsdl:part name="parameters" element="ns1:createFolderResponse" />
  </wsdl:message>
  <wsdl:message name="deleteContentStreamResponse">
    <wsdl:part name="parameters" element="ns1:deleteContentStreamResponse" />
  </wsdl:message>
  <wsdl:message name="updatePropertiesResponse">
    <wsdl:part name="parameters" element="ns1:updatePropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="deleteTree">
    <wsdl:part name="parameters" element="ns1:deleteTree" />
  </wsdl:message>
  <wsdl:message name="createRelationship">
    <wsdl:part name="parameters" element="ns1:createRelationship" />
  </wsdl:message>
  <wsdl:message name="createRelationshipResponse">
    <wsdl:part name="parameters" element="ns1:createRelationshipResponse" />
  </wsdl:message>
  <wsdl:message name="getContentStream">
    <wsdl:part name="parameters" element="ns1:getContentStream" />
  </wsdl:message>
  <wsdl:message name="getPropertiesResponse">
    <wsdl:part name="parameters" element="ns1:getPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="createPolicyResponse">
    <wsdl:part name="parameters" element="ns1:createPolicyResponse" />
  </wsdl:message>
  <wsdl:binding name="ObjectServiceSoapBinding" type="ns1:ObjectServicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setContentStream">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setContentStream">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setContentStreamResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ContentAlreadyExistsException">
        <soap:fault use="literal" name="ContentAlreadyExistsException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="StorageException">
        <soap:fault use="literal" name="StorageException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="StreamNotSupportedException">
        <soap:fault use="literal" name="StreamNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createRelationship">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createRelationship">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createRelationshipResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TypeNotFoundException">
        <soap:fault use="literal" name="TypeNotFoundException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createDocument">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createDocument">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createDocumentResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="StorageException">
        <soap:fault use="literal" name="StorageException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="StreamNotSupportedException">
        <soap:fault use="literal" name="StreamNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TypeNotFoundException">
        <soap:fault use="literal" name="TypeNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FolderNotValidException">
        <soap:fault use="literal" name="FolderNotValidException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContentStream">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getContentStream">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getContentStreamResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="StorageException">
        <soap:fault use="literal" name="StorageException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="StreamNotSupportedException">
        <soap:fault use="literal" name="StreamNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OffsetException">
        <soap:fault use="literal" name="OffsetException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateProperties">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updateProperties">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updatePropertiesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createFolder">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createFolder">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createFolderResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TypeNotFoundException">
        <soap:fault use="literal" name="TypeNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FolderNotValidException">
        <soap:fault use="literal" name="FolderNotValidException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteContentStream">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteContentStream">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteContentStreamResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="StorageException">
        <soap:fault use="literal" name="StorageException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="StreamNotSupportedException">
        <soap:fault use="literal" name="StreamNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="VersioningException">
        <soap:fault use="literal" name="VersioningException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="moveObject">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="moveObject">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="moveObjectResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotInFolderException">
        <soap:fault use="literal" name="NotInFolderException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FolderNotValidException">
        <soap:fault use="literal" name="FolderNotValidException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteObject">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteObject">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteObjectResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteTree">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteTree">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteTreeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FolderNotValidException">
        <soap:fault use="literal" name="FolderNotValidException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPolicy">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createPolicy">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createPolicyResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TypeNotFoundException">
        <soap:fault use="literal" name="TypeNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FolderNotValidException">
        <soap:fault use="literal" name="FolderNotValidException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProperties">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getProperties">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPropertiesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FilterNotValidException">
        <soap:fault use="literal" name="FilterNotValidException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllowableActions">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAllowableActions">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllowableActionsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ObjectService">
    <wsdl:port name="ObjectServicePort" binding="tns:ObjectServiceSoapBinding">
      <soap:address location="https://localhost:8443/alfresco/cmis/ObjectService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>