source/test-resources/xforms/unit-tests/repeat-tests/repeat-simple-test.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
  <xs:element name="repeat-simple">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="zero-to-one" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="one-to-one" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="one-to-inf" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        <xs:element name="zero-to-inf" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
