source/test-resources/xforms/tests/schema/no-elements-test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="qualified">

  <xs:simpleType name="yes_or_no">
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="complex_type">
    <xs:sequence>
      <xs:element name="element1" minOccurs="0" type="xs:normalizedString"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
