source/sample/WcfCmisTest/src/Service References/CmisServices/CMIS-Core.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:cmis="http://docs.oasis-open.org/ns/cmis/core/200901" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/ns/cmis/core/200901" version="0.62f" jaxb:extensionBindingPrefixes="xjc" jaxb:version="2.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="xml.xsd" namespace="http://www.w3.org/XML/1998/namespace" />
  <xs:simpleType name="enumDecimalPrecision">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="32" />
      <xs:enumeration value="64" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumContentStreamAllowed">
    <xs:restriction base="xs:string">
      <xs:enumeration value="notallowed" />
      <xs:enumeration value="allowed" />
      <xs:enumeration value="required" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumCardinality">
    <xs:restriction base="xs:string">
      <xs:enumeration value="single" />
      <xs:enumeration value="multi" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumUpdatability">
    <xs:restriction base="xs:string">
      <xs:enumeration value="readonly" />
      <xs:enumeration value="readwrite" />
      <xs:enumeration value="whencheckedout" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumPropertyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="boolean" />
      <xs:enumeration value="id" />
      <xs:enumeration value="integer" />
      <xs:enumeration value="datetime" />
      <xs:enumeration value="decimal" />
      <xs:enumeration value="html" />
      <xs:enumeration value="xhtml" />
      <xs:enumeration value="string" />
      <xs:enumeration value="uri" />
      <xs:enumeration value="xml" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumBaseObjectTypeIds">
    <xs:restriction base="xs:string">
      <xs:enumeration value="cmis:document" />
      <xs:enumeration value="cmis:folder" />
      <xs:enumeration value="cmis:relationship" />
      <xs:enumeration value="cmis:policy" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumCapabilityQuery">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="metadataonly" />
      <xs:enumeration value="fulltextonly" />
      <xs:enumeration value="bothseparate" />
      <xs:enumeration value="bothcombined" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumCapabilityJoin">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="inneronly" />
      <xs:enumeration value="innerandouter" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumCapabilityContentStreamUpdates">
    <xs:restriction base="xs:string">
      <xs:enumeration value="anytime" />
      <xs:enumeration value="pwc-only" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumRepositoryRelationship">
    <xs:restriction base="xs:string">
      <xs:enumeration value="self" />
      <xs:enumeration value="replica" />
      <xs:enumeration value="peer" />
      <xs:enumeration value="parent" />
      <xs:enumeration value="child" />
      <xs:enumeration value="archive" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumVersioningState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="checkedout" />
      <xs:enumeration value="minor" />
      <xs:enumeration value="major" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumReturnVersion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="this" />
      <xs:enumeration value="latest" />
      <xs:enumeration value="latestmajor" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumUnfileObject">
    <xs:restriction base="xs:string">
      <xs:enumeration value="unfile" />
      <xs:enumeration value="deletesinglefiled" />
      <xs:enumeration value="delete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumRelationshipDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="source" />
      <xs:enumeration value="target" />
      <xs:enumeration value="either" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumIncludeRelationships">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="source" />
      <xs:enumeration value="target" />
      <xs:enumeration value="both" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumPropertiesBase">
    <xs:restriction base="xs:string">
      <xs:enumeration value="cmis:Name" />
      <xs:enumeration value="cmis:ObjectId" />
      <xs:enumeration value="cmis:ObjectTypeId" />
      <xs:enumeration value="cmis:BaseTypeId" />
      <xs:enumeration value="cmis:CreatedBy" />
      <xs:enumeration value="cmis:CreationDate" />
      <xs:enumeration value="cmis:LastModifiedBy" />
      <xs:enumeration value="cmis:LastModificationDate" />
      <xs:enumeration value="cmis:ChangeToken" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumPropertiesDocument">
    <xs:restriction base="xs:string">
      <xs:enumeration value="cmis:IsImmutable" />
      <xs:enumeration value="cmis:IsLatestVersion" />
      <xs:enumeration value="cmis:IsMajorVersion" />
      <xs:enumeration value="cmis:IsLatestMajorVersion" />
      <xs:enumeration value="cmis:VersionLabel" />
      <xs:enumeration value="cmis:VersionSeriesId" />
      <xs:enumeration value="cmis:IsVersionSeriesCheckedOut" />
      <xs:enumeration value="cmis:VersionSeriesCheckedOutBy" />
      <xs:enumeration value="cmis:VersionSeriesCheckedOutId" />
      <xs:enumeration value="cmis:CheckinComment" />
      <xs:enumeration value="cmis:ContentStreamLength" />
      <xs:enumeration value="cmis:ContentStreamMimeType" />
      <xs:enumeration value="cmis:ContentStreamFileName" />
      <xs:enumeration value="cmis:ContentStreamId" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumPropertiesFolder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="cmis:ParentId" />
      <xs:enumeration value="cmis:AllowedChildObjectTypeNames" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumPropertiesRelationship">
    <xs:restriction base="xs:string">
      <xs:enumeration value="cmis:SourceId" />
      <xs:enumeration value="cmis:TargetId" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumPropertiesPolicy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="cmis:PolicyText" />
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="cmisUndefinedAttribute">
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:attributeGroup>
  <xs:attribute name="href" type="xs:anyURI" />
  <xs:complexType name="cmisObjectType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="properties" type="cmis:cmisPropertiesType" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cmis:allowableActions" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="relationship" type="cmis:cmisObjectType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="child" type="cmis:cmisObjectType">
        <xs:annotation>
          <xs:documentation>
						This holds the children objects of this folder. This is used only in
						the Web Service binding. In the REST/AtomPub binding, an atom
						extension element is used.
				</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="changeEventInfo" type="cmis:cmisChangeEventType" />
      <xs:element minOccurs="0" maxOccurs="1" name="acl" type="cmis:cmisAccessControlListType" />
      <xs:element minOccurs="0" maxOccurs="1" name="exactACL" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="rendition" type="cmis:cmisRenditionType" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>
  <xs:complexType name="cmisAnyXml">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>
  <xs:attribute name="key" type="xs:string" />
  <xs:attribute name="index" type="xs:integer" />
  <xs:complexType name="cmisPropertiesType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="property" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" />
          </xs:appinfo>
        </xs:annotation>
        <xs:element name="propertyBoolean" nillable="true" type="cmis:cmisPropertyBoolean" />
        <xs:element name="propertyId" nillable="true" type="cmis:cmisPropertyId" />
        <xs:element name="propertyInteger" nillable="true" type="cmis:cmisPropertyInteger" />
        <xs:element name="propertyDateTime" nillable="true" type="cmis:cmisPropertyDateTime" />
        <xs:element name="propertyDecimal" nillable="true" type="cmis:cmisPropertyDecimal" />
        <xs:element name="propertyHtml" nillable="true" type="cmis:cmisPropertyHtml" />
        <xs:element name="propertyXhtml" nillable="true" type="cmis:cmisPropertyXhtml" />
        <xs:element name="propertyString" nillable="true" type="cmis:cmisPropertyString" />
        <xs:element name="propertyUri" nillable="true" type="cmis:cmisPropertyUri" />
        <xs:element name="propertyXml" nillable="true" type="cmis:cmisPropertyXml" />
      </xs:choice>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>
  <xs:complexType name="cmisProperty">
    <xs:attribute name="pdid" use="required" />
    <xs:attribute name="localname" use="optional" />
    <xs:attribute name="displayname" use="optional" />
    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>
  <xs:complexType name="cmisPropertyBoolean">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisProperty">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisPropertyId">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisProperty">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="xs:string" />
        </xs:sequence>
        <xs:attribute ref="cmis:href" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisPropertyInteger">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisProperty">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="xs:integer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisPropertyDateTime">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisProperty">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisPropertyDecimal">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisProperty">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisPropertyHtml">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisProperty">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value">
            <xs:complexType>
              <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisPropertyXhtml">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisProperty">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value">
            <xs:complexType>
              <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisPropertyString">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisProperty">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisPropertyUri">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisProperty">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="xs:anyURI" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisPropertyXml">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisProperty">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value">
            <xs:complexType>
              <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisChoice">
    <xs:attribute name="displayName" use="required" />
    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>
  <xs:complexType name="cmisChoiceBoolean">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisChoice">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisChoiceId">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisChoice">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="xs:string" />
        </xs:sequence>
        <xs:attribute ref="cmis:href" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisChoiceInteger">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisChoice">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="xs:integer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisChoiceDateTime">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisChoice">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisChoiceDecimal">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisChoice">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisChoiceHtml">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisChoice">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value">
            <xs:complexType>
              <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisChoiceXhtml">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisChoice">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value">
            <xs:complexType>
              <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisChoiceString">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisChoice">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisChoiceUri">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisChoice">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="xs:anyURI" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisChoiceXml">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisChoice">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value">
            <xs:complexType>
              <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisAllowableActionsType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="canDeleteObject" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canUpdateProperties" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canGetProperties" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canGetRelationships" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canGetObjectParents" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canGetFolderParent" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canGetDescendants" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canMoveObject" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canDeleteContentStream" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canCheckOut" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canCancelCheckOut" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canCheckIn" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canSetContentStream" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canGetAllVersions" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canAddObjectToFolder" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canRemoveObjectFromFolder" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canGetContentStream" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canApplyPolicy" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canGetAppliedPolicies" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canRemovePolicy" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canGetChildren" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canCreateDocument" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canCreateFolder" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canCreateRelationship" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canCreatePolicy" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canDeleteTree" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canGetRenditions" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canGetACL" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="canApplyACL" type="xs:boolean" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>
  <xs:complexType name="cmisPropertyDefinitionType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="localName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="localNamespace" type="xs:anyURI" />
      <xs:element minOccurs="0" maxOccurs="1" name="displayName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="queryName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="propertyType" type="cmis:enumPropertyType" />
      <xs:element minOccurs="1" maxOccurs="1" name="cardinality" type="cmis:enumCardinality" />
      <xs:element minOccurs="1" maxOccurs="1" name="updatability" type="cmis:enumUpdatability" />
      <xs:element minOccurs="0" maxOccurs="1" name="inherited" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="required" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="queryable" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="orderable" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="openChoice" type="xs:boolean" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>
  <xs:complexType name="cmisPropertyBooleanDefinitionType">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisPropertyDefinitionType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="defaultValue" type="cmis:cmisPropertyBoolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="choice" type="cmis:cmisChoiceBoolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisPropertyIdDefinitionType">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisPropertyDefinitionType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="defaultValue" type="cmis:cmisPropertyId" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="choice" type="cmis:cmisChoiceId" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisPropertyIntegerDefinitionType">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisPropertyDefinitionType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="defaultValue" type="cmis:cmisPropertyInteger" />
          <xs:element minOccurs="0" maxOccurs="1" name="maxValue" type="xs:integer" />
          <xs:element minOccurs="0" maxOccurs="1" name="minValue" type="xs:integer" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="choice" type="cmis:cmisChoiceInteger" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisPropertyDateTimeDefinitionType">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisPropertyDefinitionType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="defaultValue" type="cmis:cmisPropertyDateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="choice" type="cmis:cmisChoiceDateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisPropertyDecimalDefinitionType">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisPropertyDefinitionType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="defaultValue" type="cmis:cmisPropertyDecimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="maxValue" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="minValue" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="precision" type="cmis:enumDecimalPrecision" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="choice" type="cmis:cmisChoiceDecimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisPropertyHtmlDefinitionType">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisPropertyDefinitionType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="defaultValue" type="cmis:cmisPropertyHtml" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="choice" type="cmis:cmisChoiceHtml" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisPropertyXhtmlDefinitionType">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisPropertyDefinitionType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="defaultValue" type="cmis:cmisPropertyXhtml" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="choice" type="cmis:cmisChoiceXhtml" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisPropertyStringDefinitionType">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisPropertyDefinitionType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="defaultValue" type="cmis:cmisPropertyString" />
          <xs:element minOccurs="0" maxOccurs="1" name="maxLength" type="xs:integer" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="choice" type="cmis:cmisChoiceString" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisPropertyUriDefinitionType">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisPropertyDefinitionType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="defaultValue" type="cmis:cmisPropertyUri" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="choice" type="cmis:cmisChoiceUri" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisPropertyXmlDefinitionType">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisPropertyDefinitionType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="defaultValue" type="cmis:cmisPropertyXml" />
          <xs:element minOccurs="0" maxOccurs="1" name="schemaURI" type="xs:anyURI" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="choice" type="cmis:cmisChoiceXml" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisTypeDefinitionType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="localName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="localNamespace" type="xs:anyURI" />
      <xs:element minOccurs="0" maxOccurs="1" name="displayName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="queryName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="baseTypeId" type="cmis:enumBaseObjectTypeIds" />
      <xs:element minOccurs="0" maxOccurs="1" name="parentId" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="creatable" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="fileable" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="queryable" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="fulltextindexed" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" default="true" name="includedInSupertypeQuery" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="controllablePolicy" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="controllableACL" type="xs:boolean" />
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <jaxb:property name="propertyDefinition" />
          </xs:appinfo>
        </xs:annotation>
        <xs:element name="propertyBooleanDefinition" type="cmis:cmisPropertyBooleanDefinitionType" />
        <xs:element name="propertyDateTimeDefinition" type="cmis:cmisPropertyDateTimeDefinitionType" />
        <xs:element name="propertyDecimalDefinition" type="cmis:cmisPropertyDecimalDefinitionType" />
        <xs:element name="propertyIdDefinition" type="cmis:cmisPropertyIdDefinitionType" />
        <xs:element name="propertyIntegerDefinition" type="cmis:cmisPropertyIntegerDefinitionType" />
        <xs:element name="propertyHtmlDefinition" type="cmis:cmisPropertyHtmlDefinitionType" />
        <xs:element name="propertyXhtmlDefinition" type="cmis:cmisPropertyXhtmlDefinitionType" />
        <xs:element name="propertyStringDefinition" type="cmis:cmisPropertyStringDefinitionType" />
        <xs:element name="propertyXmlDefinition" type="cmis:cmisPropertyXmlDefinitionType" />
        <xs:element name="propertyUriDefinition" type="cmis:cmisPropertyUriDefinitionType" />
      </xs:choice>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>
  <xs:complexType name="cmisTypeDocumentDefinitionType">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisTypeDefinitionType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="versionable" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="contentStreamAllowed" type="cmis:enumContentStreamAllowed" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisTypeFolderDefinitionType">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisTypeDefinitionType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisTypeRelationshipDefinitionType">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisTypeDefinitionType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="allowedSourceTypes" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="allowedTargetTypes" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisTypePolicyDefinitionType">
    <xs:complexContent mixed="false">
      <xs:extension base="cmis:cmisTypeDefinitionType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cmisQueryType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="repositoryId" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="statement" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="searchAllVersions" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="maxItems" type="xs:integer" />
      <xs:element minOccurs="0" maxOccurs="1" name="skipCount" type="xs:integer" />
      <xs:element minOccurs="0" maxOccurs="1" name="includeAllowableActions" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="includeRelationships" nillable="true" type="cmis:enumIncludeRelationships" />
      <xs:element minOccurs="0" maxOccurs="1" name="includeRenditions" nillable="true" type="xs:boolean" />
      <xs:any minOccurs="1" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>
  <xs:complexType name="cmisRepositoryInfoType">
    <xs:sequence minOccurs="1">
      <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="repositoryName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="repositoryRelationship" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="repositoryDescription" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="vendorName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="productName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="productVersion" type="xs:string" />
      <xs:element name="rootFolderId" type="xs:string" />
      <xs:element name="latestChangeToken" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="capabilities" type="cmis:cmisRepositoryCapabilitiesType" />
      <xs:element minOccurs="0" maxOccurs="1" name="aclCapability" type="cmis:cmisACLCapabilityType" />
      <xs:element minOccurs="1" maxOccurs="1" name="cmisVersionSupported" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="thinClientURI" type="xs:anyURI" />
      <xs:element minOccurs="0" maxOccurs="1" name="changesIncomplete" type="xs:boolean" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>
  <xs:complexType name="cmisRepositoryCapabilitiesType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="capabilityACL" type="cmis:enumCapabilityACL" />
      <xs:element minOccurs="1" maxOccurs="1" name="capabilityAllVersionsSearchable" type="xs:boolean" />
      <xs:element name="capabilityChanges" type="cmis:enumCapabilityChanges" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="capabilityChangesOnType" type="cmis:enumBaseObjectTypeIds" />
      <xs:element minOccurs="1" maxOccurs="1" name="capabilityContentStreamUpdatability" type="cmis:enumCapabilityContentStreamUpdates" />
      <xs:element minOccurs="1" maxOccurs="1" name="capabilityGetDescendants" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="capabilityMultifiling" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="capabilityPWCSearchable" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="capabilityPWCUpdateable" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="capabilityQuery" type="cmis:enumCapabilityQuery" />
      <xs:element minOccurs="1" maxOccurs="1" name="capabilityRenditions" type="cmis:enumCapabilityRendition" />
      <xs:element minOccurs="1" maxOccurs="1" name="capabilityUnfiling" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="capabilityVersionSpecificFiling" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="capabilityJoin" type="cmis:enumCapabilityJoin" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="skip" />
    </xs:sequence>
    <xs:attributeGroup ref="cmis:cmisUndefinedAttribute" />
  </xs:complexType>
  <xs:simpleType name="enumTypeOfChanges">
    <xs:restriction base="xs:string">
      <xs:enumeration value="created" />
      <xs:enumeration value="updated" />
      <xs:enumeration value="deleted" />
      <xs:enumeration value="security" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumCapabilityChanges">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="objectIdsOnly" />
      <xs:enumeration value="properties" />
      <xs:enumeration value="all" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="cmisChangeEventType">
    <xs:sequence>
      <xs:element name="changeType" type="cmis:enumTypeOfChanges" />
      <xs:element name="changeTime" type="xs:dateTime" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="enumACLPropagation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="repository-determined" />
      <xs:enumeration value="object-only" />
      <xs:enumeration value="propagate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumCapabilityACL">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="discover" />
      <xs:enumeration value="manage" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumBasicPermissions">
    <xs:restriction base="xs:string">
      <xs:enumeration value="cmis:read" />
      <xs:enumeration value="cmis:write" />
      <xs:enumeration value="cmis:delete" />
      <xs:enumeration value="cmis:all" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="cmisPermissionDefinition">
    <xs:sequence>
      <xs:element name="permission" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" />
      <xs:any maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cmisPermissionMapping">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="key" type="cmis:enumAllowableActionsKey" />
      <xs:element minOccurs="1" maxOccurs="1" name="permission" type="xs:string" />
      <xs:any namespace="##other" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="enumAllowableActionsKey">
    <xs:restriction base="xs:string">
      <xs:enumeration value="canGetDescendents.Folder" />
      <xs:enumeration value="canGetChildren.Folder" />
      <xs:enumeration value="canGetParents.Folder" />
      <xs:enumeration value="canGetFolderParent.Object" />
      <xs:enumeration value="canCreateDocument.Type" />
      <xs:enumeration value="canCreateDocument.Folder" />
      <xs:enumeration value="canCreateFolder.Type" />
      <xs:enumeration value="canCreateFolder.Folder" />
      <xs:enumeration value="canCreateRelationship.Type" />
      <xs:enumeration value="canCreateRelationship.Source" />
      <xs:enumeration value="canCreateRelationship.Target" />
      <xs:enumeration value="canCreatePolicy.Type" />
      <xs:enumeration value="canGetProperties.Object" />
      <xs:enumeration value="canViewContent.Object" />
      <xs:enumeration value="canUpdateProperties.Object" />
      <xs:enumeration value="canMove.Object" />
      <xs:enumeration value="canMove.Target" />
      <xs:enumeration value="canMove.Source" />
      <xs:enumeration value="canDelete.Object" />
      <xs:enumeration value="canDeleteTree.Folder" />
      <xs:enumeration value="canSetContent.Document" />
      <xs:enumeration value="canDeleteContent.Document" />
      <xs:enumeration value="canAddToFolder.Object" />
      <xs:enumeration value="canAddToFolder.Folder" />
      <xs:enumeration value="canRemoveFromFolder.Object" />
      <xs:enumeration value="canRemoveFromFolder.Folder" />
      <xs:enumeration value="canCheckout.Document" />
      <xs:enumeration value="canCancelCheckout.Document" />
      <xs:enumeration value="canCheckin.Document" />
      <xs:enumeration value="canGetAllVersions.VersionSeries" />
      <xs:enumeration value="canGetRelationship.Object" />
      <xs:enumeration value="canAddPolicy.Object" />
      <xs:enumeration value="canAddPolicy.Policy" />
      <xs:enumeration value="canRemovePolicy.Object" />
      <xs:enumeration value="canRemovePolicy.Policy" />
      <xs:enumeration value="canGetAppliedPolicies.Object" />
      <xs:enumeration value="canGetACL.Object" />
      <xs:enumeration value="canApplyACL.Object" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="cmisAccessControlPrincipalType">
    <xs:sequence>
      <xs:element name="principalId" type="xs:string" />
      <xs:any maxOccurs="unbounded" namespace="##other" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cmisAccessControlEntryType">
    <xs:sequence>
      <xs:element name="principal" type="cmis:cmisAccessControlPrincipalType" />
      <xs:element name="permission" type="xs:string" />
      <xs:element name="direct" type="xs:boolean" />
      <xs:any maxOccurs="unbounded" namespace="##other" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cmisAccessControlListType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="permission" type="cmis:cmisAccessControlEntryType" />
      <xs:any maxOccurs="unbounded" namespace="##other" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cmisACLCapabilityType">
    <xs:sequence>
      <xs:element name="setType" type="cmis:enumACLPropagation" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="permissions" type="cmis:cmisPermissionDefinition" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mapping" type="cmis:cmisPermissionMapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="enumCapabilityRendition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="read" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumRenditionKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="cmis:thumbnail" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="cmisRenditionType">
    <xs:sequence>
      <xs:element name="streamId" type="xs:string" />
      <xs:element minOccurs="0" name="mimetype" type="xs:string" />
      <xs:element minOccurs="0" name="length" type="xs:integer" />
      <xs:element minOccurs="0" name="title" type="xs:string" />
      <xs:element minOccurs="0" name="kind" type="xs:string" />
      <xs:element minOccurs="0" name="height" type="xs:integer" />
      <xs:element minOccurs="0" name="width" type="xs:integer" />
      <xs:element minOccurs="0" name="renditionDocumentId" type="xs:string" />
      <xs:any namespace="##other" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="allowableActions" type="cmis:cmisAllowableActionsType">
    <xs:annotation>
      <xs:documentation>
				This is the root tag for a CMIS AllowableActions
				Document Type
			</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="query" type="cmis:cmisQueryType">
    <xs:annotation>
      <xs:documentation>
				This is the root tag for a CMIS Query Document Type
			</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="acl" type="cmis:cmisAccessControlListType">
    <xs:annotation>
      <xs:documentation>
				This is the root tag for a CMIS ACL Document Type
			</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>