source/test-resources/xforms/demos/press-release/about-blurb.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	   xmlns:alfresco="http://www.alfresco.org/alfresco"
           targetNamespace="http://www.alfresco.org/aflresco"
           elementFormDefault="qualified">
  <xs:element name="about-blurb">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="body" type="xs:anyType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
