source/test-resources/xforms/demos/press-release/company-footer.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	   xmlns:alfresco="http://www.alfresco.org/alfresco"
	   xml:base="http://wacko.org"
           targetNamespace="http://www.alfresco.org/alfresco"
           elementFormDefault="qualified">
  <xs:include schemaLocation="/GetCompanyFooterSimpleType"/>
  <xs:element name="company-footer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="body" type="xs:anyType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
