source/test/dotnet/CmisWS/Service References/RepositoryService/RepositoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://www.cmis.org/ns/1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://www.cmis.org/2008/05" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://cxf.apache.org/bindings/xformat" name="RepositoryService" targetNamespace="http://www.cmis.org/ns/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.cmis.org/2008/05" location="https://localhost:8443/alfresco/cmis/RepositoryService?wsdl=RepositoryServicePort.wsdl" />
  <wsdl:types />
  <wsdl:message name="getRepositoriesResponse">
    <wsdl:part name="parameters" element="ns1:getRepositoriesResponse" />
  </wsdl:message>
  <wsdl:message name="getTypesResponse">
    <wsdl:part name="parameters" element="ns1:getTypesResponse" />
  </wsdl:message>
  <wsdl:message name="getRepositoryInfoResponse">
    <wsdl:part name="parameters" element="ns1:getRepositoryInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getRepositories">
    <wsdl:part name="parameters" element="ns1:getRepositories" />
  </wsdl:message>
  <wsdl:message name="getTypeDefinitionResponse">
    <wsdl:part name="parameters" element="ns1:getTypeDefinitionResponse" />
  </wsdl:message>
  <wsdl:message name="getTypes">
    <wsdl:part name="parameters" element="ns1:getTypes" />
  </wsdl:message>
  <wsdl:message name="getRepositoryInfo">
    <wsdl:part name="parameters" element="ns1:getRepositoryInfo" />
  </wsdl:message>
  <wsdl:message name="getTypeDefinition">
    <wsdl:part name="parameters" element="ns1:getTypeDefinition" />
  </wsdl:message>
  <wsdl:binding name="RepositoryServiceSoapBinding" type="ns1:RepositoryServicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTypeDefinition">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTypeDefinition">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTypeDefinitionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TypeNotFoundException">
        <soap:fault use="literal" name="TypeNotFoundException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRepositoryInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getRepositoryInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRepositoryInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRepositories">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getRepositories">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRepositoriesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTypes">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTypes">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTypesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RepositoryService">
    <wsdl:port name="RepositoryServicePort" binding="tns:RepositoryServiceSoapBinding">
      <soap:address location="https://localhost:8443/alfresco/cmis/RepositoryService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>