source/test-resources/xforms/unit-tests/textarea-test/textarea-test.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
  <xs:element name="textarea-test">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="textarea" type="xs:anyType" minOccurs="0" maxOccurs="1"/>
        <xs:element name="repeating-textarea" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
