source/test/dotnet/CmisWS/Service References/VersioningService/VersioningService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://www.cmis.org/ns/1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://www.cmis.org/2008/05" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://cxf.apache.org/bindings/xformat" name="VersioningService" targetNamespace="http://www.cmis.org/ns/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.cmis.org/2008/05" location="https://localhost:8443/alfresco/cmis/VersioningService?wsdl=VersioningServicePort.wsdl" />
  <wsdl:types />
  <wsdl:message name="checkOut">
    <wsdl:part name="parameters" element="ns1:checkOut" />
  </wsdl:message>
  <wsdl:message name="getAllVersions">
    <wsdl:part name="parameters" element="ns1:getAllVersions" />
  </wsdl:message>
  <wsdl:message name="checkInResponse">
    <wsdl:part name="parameters" element="ns1:checkInResponse" />
  </wsdl:message>
  <wsdl:message name="cancelCheckOutResponse">
    <wsdl:part name="parameters" element="ns1:cancelCheckOutResponse" />
  </wsdl:message>
  <wsdl:message name="getAllVersionsResponse">
    <wsdl:part name="parameters" element="ns1:getAllVersionsResponse" />
  </wsdl:message>
  <wsdl:message name="getPropertiesOfLatestVersion">
    <wsdl:part name="parameters" element="ns1:getPropertiesOfLatestVersion" />
  </wsdl:message>
  <wsdl:message name="cancelCheckOut">
    <wsdl:part name="parameters" element="ns1:cancelCheckOut" />
  </wsdl:message>
  <wsdl:message name="checkOutResponse">
    <wsdl:part name="parameters" element="ns1:checkOutResponse" />
  </wsdl:message>
  <wsdl:message name="deleteAllVersions">
    <wsdl:part name="parameters" element="ns1:deleteAllVersions" />
  </wsdl:message>
  <wsdl:message name="getPropertiesOfLatestVersionResponse">
    <wsdl:part name="parameters" element="ns1:getPropertiesOfLatestVersionResponse" />
  </wsdl:message>
  <wsdl:message name="deleteAllVersionsResponse">
    <wsdl:part name="parameters" element="ns1:deleteAllVersionsResponse" />
  </wsdl:message>
  <wsdl:message name="checkIn">
    <wsdl:part name="parameters" element="ns1:checkIn" />
  </wsdl:message>
  <wsdl:binding name="VersioningServiceSoapBinding" type="ns1:VersioningServicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkOut">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="checkOut">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="checkOutResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="checkIn">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="checkIn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="checkInResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="StorageException">
        <soap:fault use="literal" name="StorageException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="StreamNotSupportedException">
        <soap:fault use="literal" name="StreamNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelCheckOut">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="cancelCheckOut">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelCheckOutResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPropertiesOfLatestVersion">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getPropertiesOfLatestVersion">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPropertiesOfLatestVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FilterNotValidException">
        <soap:fault use="literal" name="FilterNotValidException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllVersions">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAllVersions">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllVersionsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FilterNotValidException">
        <soap:fault use="literal" name="FilterNotValidException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteAllVersions">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteAllVersions">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteAllVersionsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault use="literal" name="InvalidArgumentException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConstraintViolationException">
        <soap:fault use="literal" name="ConstraintViolationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RuntimeException">
        <soap:fault use="literal" name="RuntimeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UpdateConflictException">
        <soap:fault use="literal" name="UpdateConflictException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ObjectNotFoundException">
        <soap:fault use="literal" name="ObjectNotFoundException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupportedException">
        <soap:fault use="literal" name="OperationNotSupportedException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault use="literal" name="PermissionDeniedException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VersioningService">
    <wsdl:port name="VersioningServicePort" binding="tns:VersioningServiceSoapBinding">
      <soap:address location="https://localhost:8443/alfresco/cmis/VersioningService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>