source/wsdl/authentication-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="authentication-service"
   targetNamespace="http://www.alfresco.org/ws/service/authentication/1.0" 
   xmlns:apachesoap="http://xml.apache.org/xml-soap" 
   xmlns:auth="http://www.alfresco.org/ws/service/authentication/1.0" 
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <!-- ************************************** -->
   <!-- Copyright Alfresco Software, Inc. 2005 -->
   <!-- ************************************** -->
   <wsdl:types>
      <schema elementFormDefault="qualified" targetNamespace="http://www.alfresco.org/ws/service/authentication/1.0" xmlns="http://www.w3.org/2001/XMLSchema">
         <element name="startSession">
            <complexType>
               <sequence>
                  <element name="username" type="xsd:string"/>
                  <element name="password" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         
         <element name="startSessionResponse">
            <complexType>
               <sequence>
                  <element name="startSessionReturn" type="auth:AuthenticationResult"/>
               </sequence>
            </complexType>
         </element>
         
         <element name="endSession">
            <complexType>
               <sequence>
                  <element name="ticket" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         
         <element name="endSessionResponse">
            <complexType>
               <sequence/>
            </complexType>
         </element>
         
         <complexType name="AuthenticationResult">
            <sequence>
               <element name="username" nillable="false" type="xsd:string"/>
               <element name="ticket" nillable="false" type="xsd:string"/>
               <element name="sessionid" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <element name="AuthenticationResult" type="auth:AuthenticationResult"/>
         
         <complexType name="AuthenticationFault">
            <sequence>
               <element name="errorCode" type="xsd:int"/>
               <element name="message" type="xsd:string"/>
            </sequence>
         </complexType>
         <element name="AuthenticationFault" type="auth:AuthenticationFault"/>
         
      </schema>
   </wsdl:types>

   <wsdl:message name="startSessionRequest">
      <wsdl:part element="auth:startSession" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="startSessionResponse">
      <wsdl:part element="auth:startSessionResponse" name="parameters"/>
   </wsdl:message>
   
   <wsdl:message name="endSessionRequest">
      <wsdl:part element="auth:endSession" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="endSessionResponse">
      <wsdl:part element="auth:endSessionResponse" name="parameters"/>
   </wsdl:message>
   
   <wsdl:message name="AuthenticationFault">
      <wsdl:part element="auth:AuthenticationFault" name="fault"/>
   </wsdl:message>
   
   <wsdl:portType name="AuthenticationServiceSoapPort">
      <wsdl:operation name="startSession">
         <wsdl:input message="auth:startSessionRequest" name="startSessionRequest"/>
         <wsdl:output message="auth:startSessionResponse" name="startSessionResponse"/>
         <wsdl:fault message="auth:AuthenticationFault" name="AuthenticationFault"/>
      </wsdl:operation>
      <wsdl:operation name="endSession">
         <wsdl:input message="auth:endSessionRequest" name="endSessionRequest"/>
         <wsdl:output message="auth:endSessionResponse" name="endSessionResponse"/>
         <wsdl:fault message="auth:AuthenticationFault" name="AuthenticationFault"/>
      </wsdl:operation>
   </wsdl:portType>
   
   <wsdl:binding name="AuthenticationServiceSoapBinding" type="auth:AuthenticationServiceSoapPort">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="startSession">
         <wsdlsoap:operation soapAction="http://www.alfresco.org/ws/service/authentication/1.0/startSession"/>
         <wsdl:input name="startSessionRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="startSessionResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="AuthenticationFault">
            <wsdlsoap:fault namespace="http://www.alfresco.org/ws/service/authentication/1.0" use="literal" name="AuthenticationFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="endSession">
         <wsdlsoap:operation soapAction="http://www.alfresco.org/ws/service/authentication/1.0/endSession"/>
         <wsdl:input name="endSessionRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="endSessionResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="AuthenticationFault">
            <wsdlsoap:fault namespace="http://www.alfresco.org/ws/service/authentication/1.0" use="literal" name="AuthenticationFault"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="AuthenticationService">
      <wsdl:documentation>Provides simple authentication capability.</wsdl:documentation>
      <wsdl:port binding="auth:AuthenticationServiceSoapBinding" name="AuthenticationService">
         <wsdlsoap:address location="http://localhost:8080/alfresco/soapapi/AuthenticationService"/>
      </wsdl:port>
   </wsdl:service>
   
</wsdl:definitions>
