source/wsdl/DiscoveryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:cmis="http://www.cmis.org/2008/05" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" 
	targetNamespace="http://www.cmis.org/2008/05" 
	name="DiscoveryService">
  <types>
    <!-- had to use include - .net wsdl.exe code generator doesn't seem to like imports on the schema -->
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.cmis.org/2008/05">
      <xsd:include schemaLocation="cmisMessageTypes.xsd" />
    </xsd:schema>
  </types>
  <message name="queryRequest">
    <part name="parameters" element="cmis:query" />
  </message>
  <message name="queryResponse">
    <part name="parameters" element="cmis:queryResponse" />
  </message>
  <message name="InvalidArgumentException">
    <part name="fault" element="cmis:invalidArgumentException" />
  </message>
  <message name="PermissionDeniedException">
    <part name="fault" element="cmis:permissionDeniedException" />
  </message>
  <message name="OperationNotSupportedException">
    <part name="fault" element="cmis:operationNotSupportedException" />
  </message>
  <message name="UpdateConflictException">
    <part name="fault" element="cmis:updateConflictException" />
  </message>
  <message name="RuntimeException">
    <part name="fault" element="cmis:runtimeException" />
  </message>
  <message name="ConstraintViolationException">
    <part name="fault" element="cmis:constraintViolationException" />
  </message>
  <portType name="DiscoveryServicePort">
    <operation name="query">
      <input message="cmis:queryRequest" />
      <output message="cmis:queryResponse" />
      <fault message="cmis:InvalidArgumentException" name="InvalidArgumentException" />
      <fault message="cmis:PermissionDeniedException" name="PermissionDeniedException" />
      <fault message="cmis:OperationNotSupportedException" name="OperationNotSupportedException" />
      <fault message="cmis:UpdateConflictException" name="UpdateConflictException" />
      <fault message="cmis:RuntimeException" name="RuntimeException" />
      <fault message="cmis:ConstraintViolationException" name="ConstraintViolationException" />
    </operation>
  </portType>
  <binding name="DiscoveryServicePortBinding" type="cmis:DiscoveryServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="query">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
    </operation>
  </binding>
  <service name="DiscoveryService">
    <port name="DiscoveryServicePort" binding="cmis:DiscoveryServicePortBinding">
      <soap:address location="_REPLACE_WITH_ACTUAL_URL_" />
    </port>
  </service>
</definitions>