source/wsdl/MultiFilingService.wsdl

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<definitions xmlns:tns="http://www.cmis.org/ns/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" name="MultiFilingService" targetNamespace="http://www.cmis.org/ns/1.0">
  <types>
    <!--
		<xsd:schema>
			<xsd:import namespace="http://cmis.org/_TBD_" schemaLocation="_TBD_.xsd"/>
		</xsd:schema>
		-->
    <!-- had to use include - .net wsdl.exe code generator doesn't seem to like imports on the schema -->
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.cmis.org/ns/1.0">
      <xsd:include schemaLocation="cmisMessageTypes.xsd" />
    </xsd:schema>
  </types>
  <message name="addObjectToFolder">
    <part name="parameters" element="tns:addObjectToFolder" />
  </message>
  <message name="addObjectToFolderResponse">
    <part name="parameters" element="tns:addObjectToFolderResponse" />
  </message>
  <message name="removeObjectFromFolder">
    <part name="parameters" element="tns:removeObjectFromFolder" />
  </message>
  <message name="removeObjectFromFolderResponse">
    <part name="parameters" element="tns:removeObjectFromFolderResponse" />
  </message>
  <message name="InvalidArgumentException">
    <part name="fault" element="tns:invalidArgumentException" />
  </message>
  <message name="PermissionDeniedException">
    <part name="fault" element="tns:permissionDeniedException" />
  </message>
  <message name="OperationNotSupportedException">
    <part name="fault" element="tns:operationNotSupportedException" />
  </message>
  <message name="UpdateConflictException">
    <part name="fault" element="tns:updateConflictException" />
  </message>
  <message name="RuntimeException">
    <part name="fault" element="tns:runtimeException" />
  </message>
  <message name="ConstraintViolationException">
    <part name="fault" element="tns:constraintViolationException" />
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="tns:objectNotFoundException" />
  </message>
  <message name="FolderNotValidException">
    <part name="fault" element="tns:folderNotValidException" />
  </message>
  <message name="NotInFolderException">
    <part name="fault" element="tns:notInFolderException" />
  </message>
  <portType name="MultiFilingServicePort">
    <operation name="addObjectToFolder">
      <input message="tns:addObjectToFolder" />
      <output message="tns:addObjectToFolderResponse" />
      <fault name="InvalidArgumentException" message="tns:InvalidArgumentException" />
      <fault name="PermissionDeniedException" message="tns:PermissionDeniedException" />
      <fault name="OperationNotSupportedException" message="tns:OperationNotSupportedException" />
      <fault name="UpdateConflictException" message="tns:UpdateConflictException" />
      <fault name="RuntimeException" message="tns:RuntimeException" />
      <fault name="ConstraintViolationException" message="tns:ConstraintViolationException" />
      <fault name="ObjectNotFoundException" message="tns:ObjectNotFoundException" />
      <fault name="FolderNotValidException" message="tns:FolderNotValidException" />
    </operation>
    <operation name="removeObjectFromFolder">
      <input message="tns:removeObjectFromFolder" />
      <output message="tns:removeObjectFromFolderResponse" />
      <fault name="InvalidArgumentException" message="tns:InvalidArgumentException" />
      <fault name="PermissionDeniedException" message="tns:PermissionDeniedException" />
      <fault name="OperationNotSupportedException" message="tns:OperationNotSupportedException" />
      <fault name="UpdateConflictException" message="tns:UpdateConflictException" />
      <fault name="RuntimeException" message="tns:RuntimeException" />
      <fault name="ConstraintViolationException" message="tns:ConstraintViolationException" />
      <fault name="ObjectNotFoundException" message="tns:ObjectNotFoundException" />
      <fault name="FolderNotValidException" message="tns:FolderNotValidException" />
      <fault name="NotInFolderException" message="tns:NotInFolderException" />
    </operation>
  </portType>
  <binding name="MultiFilingServicePortBinding" type="tns:MultiFilingServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="addObjectToFolder">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal" />
      </fault>
    </operation>
    <operation name="removeObjectFromFolder">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal" />
      </fault>
      <fault name="NotInFolderException">
        <soap:fault name="NotInFolderException" use="literal" />
      </fault>
    </operation>
  </binding>
  <service name="MultiFilingService">
    <port name="MultiFilingServicePort" binding="tns:MultiFilingServicePortBinding">
      <soap:address location="_REPLACE_WITH_ACTUAL_URL_" />
    </port>
  </service>
</definitions>