source/wsdl/MultiFilingService.wsdl

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<definitions xmlns:cmis="http://www.cmis.org/2008/05" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns="http://schemas.xmlsoap.org/wsdl/" 
xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" name="MultiFilingService" 
targetNamespace="http://www.cmis.org/2008/05">
  <types>
    <!--
		<xsd:schema>
			<xsd:import namespace="http://cmis.org/_TBD_" schemaLocation="_TBD_.xsd"/>
		</xsd:schema>
		-->
    <!-- had to use include - .net wsdl.exe code generator doesn't seem to like imports on the schema -->
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.cmis.org/2008/05">
      <xsd:include schemaLocation="cmisMessageTypes.xsd" />
    </xsd:schema>
  </types>
  <message name="addObjectToFolderRequest">
    <part name="parameters" element="cmis:addObjectToFolder" />
  </message>
  <message name="addObjectToFolderResponse">
    <part name="parameters" element="cmis:addObjectToFolderResponse" />
  </message>
  <message name="removeObjectFromFolderRequest">
    <part name="parameters" element="cmis:removeObjectFromFolder" />
  </message>
  <message name="removeObjectFromFolderResponse">
    <part name="parameters" element="cmis:removeObjectFromFolderResponse" />
  </message>
  <message name="InvalidArgumentException">
    <part name="fault" element="cmis:invalidArgumentException" />
  </message>
  <message name="PermissionDeniedException">
    <part name="fault" element="cmis:permissionDeniedException" />
  </message>
  <message name="OperationNotSupportedException">
    <part name="fault" element="cmis:operationNotSupportedException" />
  </message>
  <message name="UpdateConflictException">
    <part name="fault" element="cmis:updateConflictException" />
  </message>
  <message name="RuntimeException">
    <part name="fault" element="cmis:runtimeException" />
  </message>
  <message name="ConstraintViolationException">
    <part name="fault" element="cmis:constraintViolationException" />
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="cmis:objectNotFoundException" />
  </message>
  <message name="FolderNotValidException">
    <part name="fault" element="cmis:folderNotValidException" />
  </message>
  <message name="NotInFolderException">
    <part name="fault" element="cmis:notInFolderException" />
  </message>
  <portType name="MultiFilingServicePort">
    <operation name="addObjectToFolder">
      <input message="cmis:addObjectToFolderRequest" />
      <output message="cmis:addObjectToFolderResponse" />
      <fault name="InvalidArgumentException" message="cmis:InvalidArgumentException" />
      <fault name="PermissionDeniedException" message="cmis:PermissionDeniedException" />
      <fault name="OperationNotSupportedException" message="cmis:OperationNotSupportedException" />
      <fault name="UpdateConflictException" message="cmis:UpdateConflictException" />
      <fault name="RuntimeException" message="cmis:RuntimeException" />
      <fault name="ConstraintViolationException" message="cmis:ConstraintViolationException" />
      <fault name="ObjectNotFoundException" message="cmis:ObjectNotFoundException" />
      <fault name="FolderNotValidException" message="cmis:FolderNotValidException" />
    </operation>
    <operation name="removeObjectFromFolder">
      <input message="cmis:removeObjectFromFolderRequest" />
      <output message="cmis:removeObjectFromFolderResponse" />
      <fault name="InvalidArgumentException" message="cmis:InvalidArgumentException" />
      <fault name="PermissionDeniedException" message="cmis:PermissionDeniedException" />
      <fault name="OperationNotSupportedException" message="cmis:OperationNotSupportedException" />
      <fault name="UpdateConflictException" message="cmis:UpdateConflictException" />
      <fault name="RuntimeException" message="cmis:RuntimeException" />
      <fault name="ConstraintViolationException" message="cmis:ConstraintViolationException" />
      <fault name="ObjectNotFoundException" message="cmis:ObjectNotFoundException" />
      <fault name="FolderNotValidException" message="cmis:FolderNotValidException" />
      <fault name="NotInFolderException" message="cmis:NotInFolderException" />
    </operation>
  </portType>
  <binding name="MultiFilingServicePortBinding" type="cmis:MultiFilingServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="addObjectToFolder">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal" />
      </fault>
    </operation>
    <operation name="removeObjectFromFolder">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal" />
      </fault>
      <fault name="NotInFolderException">
        <soap:fault name="NotInFolderException" use="literal" />
      </fault>
    </operation>
  </binding>
  <service name="MultiFilingService">
    <port name="MultiFilingServicePort" binding="cmis:MultiFilingServicePortBinding">
      <soap:address location="_REPLACE_WITH_ACTUAL_URL_" />
    </port>
  </service>
</definitions>