source/wsdl/NavigationService.wsdl

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<definitions 
xmlns:cmis="http://www.cmis.org/2008/05" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns="http://schemas.xmlsoap.org/wsdl/" 
xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" 
name="NavigationService" 
targetNamespace="http://www.cmis.org/2008/05">
  <types>
    <!--
		<xsd:schema>
			<xsd:import namespace="http://cmis.org/_TBD_" schemaLocation="_TBD_.xsd"/>
		</xsd:schema>
		-->
    <!-- had to use include - .net wsdl.exe code generator doesn't seem to like imports on the schema -->
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.cmis.org/2008/05">
      <xsd:include schemaLocation="cmisMessageTypes.xsd" />
    </xsd:schema>
  </types>
  <message name="getDescendantsRequest">
    <part name="parameters" element="cmis:getDescendants" />
  </message>
  <message name="getDescendantsResponse">
    <part name="parameters" element="cmis:getDescendantsResponse" />
  </message>
  <message name="getChildrenRequest">
    <part name="parameters" element="cmis:getChildren" />
  </message>
  <message name="getChildrenResponse">
    <part name="parameters" element="cmis:getChildrenResponse" />
  </message>
  <message name="getFolderParentRequest">
    <part name="parameters" element="cmis:getFolderParent" />
  </message>
  <message name="getFolderParentResponse">
    <part name="parameters" element="cmis:getFolderParentResponse" />
  </message>
  <message name="getObjectParentsRequest">
    <part name="parameters" element="cmis:getObjectParents" />
  </message>
  <message name="getObjectParentsResponse">
    <part name="parameters" element="cmis:getObjectParentsResponse" />
  </message>
  <message name="getCheckedoutDocsRequest">
    <part name="parameters" element="cmis:getCheckedoutDocs" />
  </message>
  <message name="getCheckedoutDocsResponse">
    <part name="parameters" element="cmis:getCheckedoutDocsResponse" />
  </message>
  <message name="InvalidArgumentException">
    <part name="fault" element="cmis:invalidArgumentException" />
  </message>
  <message name="PermissionDeniedException">
    <part name="fault" element="cmis:permissionDeniedException" />
  </message>
  <message name="OperationNotSupportedException">
    <part name="fault" element="cmis:operationNotSupportedException" />
  </message>
  <message name="UpdateConflictException">
    <part name="fault" element="cmis:updateConflictException" />
  </message>
  <message name="RuntimeException">
    <part name="fault" element="cmis:runtimeException" />
  </message>
  <message name="FilterNotValidException">
    <part name="fault" element="cmis:filterNotValidException" />
  </message>
  <message name="FolderNotValidException">
    <part name="fault" element="cmis:folderNotValidException" />
  </message>
  <message name="ConstraintViolationException">
    <part name="fault" element="cmis:constraintViolationException" />
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="cmis:objectNotFoundException" />
  </message>
  <portType name="NavigationServicePort">
    <operation name="getDescendants">
      <input message="cmis:getDescendantsRequest" />
      <output message="cmis:getDescendantsResponse" />
      <fault name="InvalidArgumentException" message="cmis:InvalidArgumentException" />
      <fault name="PermissionDeniedException" message="cmis:PermissionDeniedException" />
      <fault name="OperationNotSupportedException" message="cmis:OperationNotSupportedException" />
      <fault name="UpdateConflictException" message="cmis:UpdateConflictException" />
      <fault name="RuntimeException" message="cmis:RuntimeException" />
      <fault name="ConstraintViolationException" message="cmis:ConstraintViolationException" />
      <fault name="ObjectNotFoundException" message="cmis:ObjectNotFoundException" />
      <fault name="FilterNotValidException" message="cmis:FilterNotValidException" />
      <fault name="FolderNotValidException" message="cmis:FolderNotValidException" />
    </operation>
    <operation name="getChildren">
      <input message="cmis:getChildrenRequest" />
      <output message="cmis:getChildrenResponse" />
      <fault name="InvalidArgumentException" message="cmis:InvalidArgumentException" />
      <fault name="PermissionDeniedException" message="cmis:PermissionDeniedException" />
      <fault name="OperationNotSupportedException" message="cmis:OperationNotSupportedException" />
      <fault name="UpdateConflictException" message="cmis:UpdateConflictException" />
      <fault name="RuntimeException" message="cmis:RuntimeException" />
      <fault name="ConstraintViolationException" message="cmis:ConstraintViolationException" />
      <fault name="ObjectNotFoundException" message="cmis:ObjectNotFoundException" />
      <fault name="FilterNotValidException" message="cmis:FilterNotValidException" />
      <fault name="FolderNotValidException" message="cmis:FolderNotValidException" />
    </operation>
    <operation name="getFolderParent">
      <input message="cmis:getFolderParentRequest" />
      <output message="cmis:getFolderParentResponse" />
      <fault name="InvalidArgumentException" message="cmis:InvalidArgumentException" />
      <fault name="PermissionDeniedException" message="cmis:PermissionDeniedException" />
      <fault name="OperationNotSupportedException" message="cmis:OperationNotSupportedException" />
      <fault name="UpdateConflictException" message="cmis:UpdateConflictException" />
      <fault name="RuntimeException" message="cmis:RuntimeException" />
      <fault name="ConstraintViolationException" message="cmis:ConstraintViolationException" />
      <fault name="ObjectNotFoundException" message="cmis:ObjectNotFoundException" />
      <fault name="FilterNotValidException" message="cmis:FilterNotValidException" />
      <fault name="FolderNotValidException" message="cmis:FolderNotValidException" />
    </operation>
    <operation name="getObjectParents">
      <input message="cmis:getObjectParentsRequest" />
      <output message="cmis:getObjectParentsResponse" />
      <fault name="InvalidArgumentException" message="cmis:InvalidArgumentException" />
      <fault name="PermissionDeniedException" message="cmis:PermissionDeniedException" />
      <fault name="OperationNotSupportedException" message="cmis:OperationNotSupportedException" />
      <fault name="UpdateConflictException" message="cmis:UpdateConflictException" />
      <fault name="RuntimeException" message="cmis:RuntimeException" />
      <fault name="FilterNotValidException" message="cmis:FilterNotValidException" />
      <fault name="FolderNotValidException" message="cmis:FolderNotValidException" />
      <fault name="ConstraintViolationException" message="cmis:ConstraintViolationException" />
      <fault name="ObjectNotFoundException" message="cmis:ObjectNotFoundException" />
    </operation>
    <operation name="getCheckedoutDocs">
      <input message="cmis:getCheckedoutDocsRequest" />
      <output message="cmis:getCheckedoutDocsResponse" />
      <fault name="InvalidArgumentException" message="cmis:InvalidArgumentException" />
      <fault name="PermissionDeniedException" message="cmis:PermissionDeniedException" />
      <fault name="OperationNotSupportedException" message="cmis:OperationNotSupportedException" />
      <fault name="UpdateConflictException" message="cmis:UpdateConflictException" />
      <fault name="RuntimeException" message="cmis:RuntimeException" />
      <fault name="ConstraintViolationException" message="cmis:ConstraintViolationException" />
      <fault name="ObjectNotFoundException" message="cmis:ObjectNotFoundException" />
      <fault name="FilterNotValidException" message="cmis:FilterNotValidException" />
      <fault name="FolderNotValidException" message="cmis:FolderNotValidException" />
    </operation>
  </portType>
  <binding name="NavigationServicePortBinding" type="cmis:NavigationServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getDescendants">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="FilterNotValidException">
        <soap:fault name="FilterNotValidException" use="literal" />
      </fault>
      <fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal" />
      </fault>
    </operation>
    <operation name="getChildren">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="FilterNotValidException">
        <soap:fault name="FilterNotValidException" use="literal" />
      </fault>
      <fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal" />
      </fault>
    </operation>
    <operation name="getFolderParent">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="FilterNotValidException">
        <soap:fault name="FilterNotValidException" use="literal" />
      </fault>
      <fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal" />
      </fault>
    </operation>
    <operation name="getObjectParents">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="FilterNotValidException">
        <soap:fault name="FilterNotValidException" use="literal" />
      </fault>
      <fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal" />
      </fault>
    </operation>
    <operation name="getCheckedoutDocs">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="FilterNotValidException">
        <soap:fault name="FilterNotValidException" use="literal" />
      </fault>
      <fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal" />
      </fault>
    </operation>
  </binding>
  <service name="NavigationService">
    <port name="NavigationServicePort" binding="cmis:NavigationServicePortBinding">
      <soap:address location="_REPLACE_WITH_ACTUAL_URL_" />
    </port>
  </service>
</definitions>