source/wsdl/ObjectService.wsdl

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<definitions xmlns:cmis="http://www.cmis.org/2008/05" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns="http://schemas.xmlsoap.org/wsdl/" 
xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" 
name="ObjectService" targetNamespace="http://www.cmis.org/2008/05">
  <types>
    <!--
		<xsd:schema>
			<xsd:import namespace="http://cmis.org/_TBD_" schemaLocation="_TBD_.xsd"/>
		</xsd:schema>
		-->
    <!-- had to use include - .net wsdl.exe code generator doesn't seem to like imports on the schema -->
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.cmis.org/2008/05">
      <xsd:include schemaLocation="cmisMessageTypes.xsd" />
    </xsd:schema>
  </types>
  <message name="createDocumentRequest">
    <part name="parameters" element="cmis:createDocument" />
  </message>
  <message name="createDocumentResponse">
    <part name="parameters" element="cmis:createDocumentResponse" />
  </message>
  <message name="createFolderRequest">
    <part name="parameters" element="cmis:createFolder" />
  </message>
  <message name="createFolderResponse">
    <part name="parameters" element="cmis:createFolderResponse" />
  </message>
  <message name="createRelationshipRequest">
    <part name="parameters" element="cmis:createRelationship" />
  </message>
  <message name="createRelationshipResponse">
    <part name="parameters" element="cmis:createRelationshipResponse" />
  </message>
  <message name="createPolicyRequest">
    <part name="parameters" element="cmis:createPolicy" />
  </message>
  <message name="createPolicyResponse">
    <part name="parameters" element="cmis:createPolicyResponse" />
  </message>
  <message name="getAllowableActionsRequest">
    <part name="parameters" element="cmis:getAllowableActions" />
  </message>
  <message name="getAllowableActionsResponse">
    <part name="parameters" element="cmis:getAllowableActionsResponse" />
  </message>
  <message name="getPropertiesRequest">
    <part name="parameters" element="cmis:getProperties" />
  </message>
  <message name="getPropertiesResponse">
    <part name="parameters" element="cmis:getPropertiesResponse" />
  </message>
  <message name="getContentStreamRequest">
    <part name="parameters" element="cmis:getContentStream" />
  </message>
  <message name="getContentStreamResponse">
    <part name="parameters" element="cmis:getContentStreamResponse" />
  </message>
  <message name="updatePropertiesRequest">
    <part name="parameters" element="cmis:updateProperties" />
  </message>
  <message name="updatePropertiesResponse">
    <part name="parameters" element="cmis:updatePropertiesResponse" />
  </message>
  <message name="moveObjectRequest">
    <part name="parameters" element="cmis:moveObject" />
  </message>
  <message name="moveObjectResponse">
    <part name="parameters" element="cmis:moveObjectResponse" />
  </message>
  <message name="deleteObjectRequest">
    <part name="parameters" element="cmis:deleteObject" />
  </message>
  <message name="deleteObjectResponse">
    <part name="parameters" element="cmis:deleteObjectResponse" />
  </message>
  <message name="deleteTreeRequest">
    <part name="parameters" element="cmis:deleteTree" />
  </message>
  <message name="deleteTreeResponse">
    <part name="parameters" element="cmis:deleteTreeResponse" />
  </message>
  <message name="setContentStreamRequest">
    <part name="parameters" element="cmis:setContentStream" />
  </message>
  <message name="setContentStreamResponse">
    <part name="parameters" element="cmis:setContentStreamResponse" />
  </message>
  <message name="deleteContentStreamRequest">
    <part name="parameters" element="cmis:deleteContentStream" />
  </message>
  <message name="deleteContentStreamResponse">
    <part name="parameters" element="cmis:deleteContentStreamResponse" />
  </message>
  <message name="InvalidArgumentException">
    <part name="fault" element="cmis:invalidArgumentException" />
  </message>
  <message name="PermissionDeniedException">
    <part name="fault" element="cmis:permissionDeniedException" />
  </message>
  <message name="OperationNotSupportedException">
    <part name="fault" element="cmis:operationNotSupportedException" />
  </message>
  <message name="UpdateConflictException">
    <part name="fault" element="cmis:updateConflictException" />
  </message>
  <message name="RuntimeException">
    <part name="fault" element="cmis:runtimeException" />
  </message>
  <message name="ConstraintViolationException">
    <part name="fault" element="cmis:constraintViolationException" />
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="cmis:objectNotFoundException" />
  </message>
  <message name="FilterNotValidException">
    <part name="fault" element="cmis:filterNotValidException" />
  </message>
  <message name="TypeNotFoundException">
    <part name="fault" element="cmis:typeNotFoundException" />
  </message>
  <message name="StreamNotSupportedException">
    <part name="fault" element="cmis:streamNotSupportedException" />
  </message>
  <message name="FolderNotValidException">
    <part name="fault" element="cmis:folderNotValidException" />
  </message>
  <message name="OffsetException">
    <part name="fault" element="cmis:offsetException" />
  </message>
  <message name="StorageException">
    <part name="fault" element="cmis:storageException" />
  </message>
  <message name="NotInFolderException">
    <part name="fault" element="cmis:notInFolderException" />
  </message>
  <message name="ContentAlreadyExistsException">
    <part name="fault" element="cmis:contentAlreadyExistsException" />
  </message>
  <message name="VersioningException">
    <part name="fault" element="cmis:versioningException" />
  </message>
  <portType name="ObjectServicePort">
    <operation name="createDocument">
      <input message="cmis:createDocumentRequest" />
      <output message="cmis:createDocumentResponse" />
      <fault message="cmis:InvalidArgumentException" name="InvalidArgumentException" />
      <fault message="cmis:PermissionDeniedException" name="PermissionDeniedException" />
      <fault message="cmis:OperationNotSupportedException" name="OperationNotSupportedException" />
      <fault message="cmis:UpdateConflictException" name="UpdateConflictException" />
      <fault message="cmis:RuntimeException" name="RuntimeException" />
      <fault message="cmis:ConstraintViolationException" name="ConstraintViolationException" />
      <fault message="cmis:TypeNotFoundException" name="TypeNotFoundException" />
      <fault message="cmis:StreamNotSupportedException" name="StreamNotSupportedException" />
      <fault message="cmis:FolderNotValidException" name="FolderNotValidException" />
      <fault message="cmis:StorageException" name="StorageException" />
    </operation>
    <operation name="createFolder">
      <input message="cmis:createFolderRequest" />
      <output message="cmis:createFolderResponse" />
      <fault message="cmis:InvalidArgumentException" name="InvalidArgumentException" />
      <fault message="cmis:PermissionDeniedException" name="PermissionDeniedException" />
      <fault message="cmis:OperationNotSupportedException" name="OperationNotSupportedException" />
      <fault message="cmis:UpdateConflictException" name="UpdateConflictException" />
      <fault message="cmis:RuntimeException" name="RuntimeException" />
      <fault message="cmis:ConstraintViolationException" name="ConstraintViolationException" />
      <fault message="cmis:TypeNotFoundException" name="TypeNotFoundException" />
      <fault message="cmis:FolderNotValidException" name="FolderNotValidException" />
    </operation>
    <operation name="createRelationship">
      <input message="cmis:createRelationshipRequest" />
      <output message="cmis:createRelationshipResponse" />
      <fault message="cmis:InvalidArgumentException" name="InvalidArgumentException" />
      <fault message="cmis:PermissionDeniedException" name="PermissionDeniedException" />
      <fault message="cmis:OperationNotSupportedException" name="OperationNotSupportedException" />
      <fault message="cmis:UpdateConflictException" name="UpdateConflictException" />
      <fault message="cmis:RuntimeException" name="RuntimeException" />
      <fault message="cmis:ConstraintViolationException" name="ConstraintViolationException" />
      <fault message="cmis:TypeNotFoundException" name="TypeNotFoundException" />
      <fault message="cmis:ObjectNotFoundException" name="ObjectNotFoundException" />
    </operation>
    <operation name="createPolicy">
      <input message="cmis:createPolicyRequest" />
      <output message="cmis:createPolicyResponse" />
      <fault message="cmis:InvalidArgumentException" name="InvalidArgumentException" />
      <fault message="cmis:PermissionDeniedException" name="PermissionDeniedException" />
      <fault message="cmis:OperationNotSupportedException" name="OperationNotSupportedException" />
      <fault message="cmis:UpdateConflictException" name="UpdateConflictException" />
      <fault message="cmis:RuntimeException" name="RuntimeException" />
      <fault message="cmis:ConstraintViolationException" name="ConstraintViolationException" />
      <fault message="cmis:TypeNotFoundException" name="TypeNotFoundException" />
      <fault message="cmis:FolderNotValidException" name="FolderNotValidException" />
    </operation>
    <operation name="getAllowableActions">
      <input message="cmis:getAllowableActionsRequest" />
      <output message="cmis:getAllowableActionsResponse" />
      <fault message="cmis:InvalidArgumentException" name="InvalidArgumentException" />
      <fault message="cmis:PermissionDeniedException" name="PermissionDeniedException" />
      <fault message="cmis:OperationNotSupportedException" name="OperationNotSupportedException" />
      <fault message="cmis:UpdateConflictException" name="UpdateConflictException" />
      <fault message="cmis:RuntimeException" name="RuntimeException" />
      <fault message="cmis:ObjectNotFoundException" name="ObjectNotFoundException" />
    </operation>
    <operation name="getProperties">
      <input message="cmis:getPropertiesRequest" />
      <output message="cmis:getPropertiesResponse" />
      <fault message="cmis:InvalidArgumentException" name="InvalidArgumentException" />
      <fault message="cmis:PermissionDeniedException" name="PermissionDeniedException" />
      <fault message="cmis:OperationNotSupportedException" name="OperationNotSupportedException" />
      <fault message="cmis:UpdateConflictException" name="UpdateConflictException" />
      <fault message="cmis:RuntimeException" name="RuntimeException" />
      <fault message="cmis:FilterNotValidException" name="FilterNotValidException" />
      <fault message="cmis:ObjectNotFoundException" name="ObjectNotFoundException" />
    </operation>
    <operation name="getContentStream">
      <input message="cmis:getContentStreamRequest" />
      <output message="cmis:getContentStreamResponse" />
      <fault message="cmis:InvalidArgumentException" name="InvalidArgumentException" />
      <fault message="cmis:PermissionDeniedException" name="PermissionDeniedException" />
      <fault message="cmis:OperationNotSupportedException" name="OperationNotSupportedException" />
      <fault message="cmis:UpdateConflictException" name="UpdateConflictException" />
      <fault message="cmis:RuntimeException" name="RuntimeException" />
      <fault message="cmis:OffsetException" name="OffsetException" />
      <fault message="cmis:StreamNotSupportedException" name="StreamNotSupportedException" />
      <fault message="cmis:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="cmis:StorageException" name="StorageException" />
    </operation>
    <operation name="updateProperties">
      <input message="cmis:updatePropertiesRequest" />
      <output message="cmis:updatePropertiesResponse" />
      <fault message="cmis:InvalidArgumentException" name="InvalidArgumentException" />
      <fault message="cmis:PermissionDeniedException" name="PermissionDeniedException" />
      <fault message="cmis:OperationNotSupportedException" name="OperationNotSupportedException" />
      <fault message="cmis:UpdateConflictException" name="UpdateConflictException" />
      <fault message="cmis:RuntimeException" name="RuntimeException" />
      <fault message="cmis:ConstraintViolationException" name="ConstraintViolationException" />
      <fault message="cmis:ObjectNotFoundException" name="ObjectNotFoundException" />
    </operation>
    <operation name="moveObject">
      <input message="cmis:moveObjectRequest" />
      <output message="cmis:moveObjectResponse" />
      <fault message="cmis:InvalidArgumentException" name="InvalidArgumentException" />
      <fault message="cmis:PermissionDeniedException" name="PermissionDeniedException" />
      <fault message="cmis:OperationNotSupportedException" name="OperationNotSupportedException" />
      <fault message="cmis:UpdateConflictException" name="UpdateConflictException" />
      <fault message="cmis:RuntimeException" name="RuntimeException" />
      <fault message="cmis:ConstraintViolationException" name="ConstraintViolationException" />
      <fault message="cmis:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="cmis:FolderNotValidException" name="FolderNotValidException" />
      <fault message="cmis:NotInFolderException" name="NotInFolderException" />
    </operation>
    <operation name="deleteObject">
      <input message="cmis:deleteObjectRequest" />
      <output message="cmis:deleteObjectResponse" />
      <fault message="cmis:InvalidArgumentException" name="InvalidArgumentException" />
      <fault message="cmis:PermissionDeniedException" name="PermissionDeniedException" />
      <fault message="cmis:OperationNotSupportedException" name="OperationNotSupportedException" />
      <fault message="cmis:UpdateConflictException" name="UpdateConflictException" />
      <fault message="cmis:RuntimeException" name="RuntimeException" />
      <fault message="cmis:ConstraintViolationException" name="ConstraintViolationException" />
      <fault message="cmis:ObjectNotFoundException" name="ObjectNotFoundException" />
    </operation>
    <operation name="deleteTree">
      <input message="cmis:deleteTreeRequest" />
      <output message="cmis:deleteTreeResponse" />
      <fault message="cmis:InvalidArgumentException" name="InvalidArgumentException" />
      <fault message="cmis:PermissionDeniedException" name="PermissionDeniedException" />
      <fault message="cmis:OperationNotSupportedException" name="OperationNotSupportedException" />
      <fault message="cmis:UpdateConflictException" name="UpdateConflictException" />
      <fault message="cmis:RuntimeException" name="RuntimeException" />
      <fault message="cmis:ConstraintViolationException" name="ConstraintViolationException" />
      <fault message="cmis:FolderNotValidException" name="FolderNotValidException" />
    </operation>
    <operation name="setContentStream">
      <input message="cmis:setContentStreamRequest" />
      <output message="cmis:setContentStreamResponse" />
      <fault message="cmis:InvalidArgumentException" name="InvalidArgumentException" />
      <fault message="cmis:PermissionDeniedException" name="PermissionDeniedException" />
      <fault message="cmis:OperationNotSupportedException" name="OperationNotSupportedException" />
      <fault message="cmis:UpdateConflictException" name="UpdateConflictException" />
      <fault message="cmis:RuntimeException" name="RuntimeException" />
      <fault message="cmis:ConstraintViolationException" name="ConstraintViolationException" />
      <fault message="cmis:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="cmis:StreamNotSupportedException" name="StreamNotSupportedException" />
      <fault message="cmis:StorageException" name="StorageException" />
      <fault message="cmis:ContentAlreadyExistsException" name="ContentAlreadyExistsException" />
    </operation>
    <operation name="deleteContentStream">
      <input message="cmis:deleteContentStreamRequest" />
      <output message="cmis:deleteContentStreamResponse" />
      <fault message="cmis:InvalidArgumentException" name="InvalidArgumentException" />
      <fault message="cmis:PermissionDeniedException" name="PermissionDeniedException" />
      <fault message="cmis:OperationNotSupportedException" name="OperationNotSupportedException" />
      <fault message="cmis:UpdateConflictException" name="UpdateConflictException" />
      <fault message="cmis:RuntimeException" name="RuntimeException" />
      <fault message="cmis:ConstraintViolationException" name="ConstraintViolationException" />
      <fault message="cmis:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="cmis:StreamNotSupportedException" name="StreamNotSupportedException" />
      <fault message="cmis:StorageException" name="StorageException" />
      <fault message="cmis:VersioningException" name="VersioningException" />
    </operation>
  </portType>
  <binding name="ObjectServicePortBinding" type="cmis:ObjectServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="createDocument">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="TypeNotFoundException">
        <soap:fault name="TypeNotFoundException" use="literal" />
      </fault>
      <fault name="StreamNotSupportedException">
        <soap:fault name="StreamNotSupportedException" use="literal" />
      </fault>
      <fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal" />
      </fault>
      <fault name="StorageException">
        <soap:fault name="StorageException" use="literal" />
      </fault>
    </operation>
    <operation name="createFolder">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="TypeNotFoundException">
        <soap:fault name="TypeNotFoundException" use="literal" />
      </fault>
      <fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal" />
      </fault>
    </operation>
    <operation name="createRelationship">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="TypeNotFoundException">
        <soap:fault name="TypeNotFoundException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
    </operation>
    <operation name="createPolicy">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="TypeNotFoundException">
        <soap:fault name="TypeNotFoundException" use="literal" />
      </fault>
      <fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal" />
      </fault>
    </operation>
    <operation name="getAllowableActions">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
    </operation>
    <operation name="getProperties">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="FilterNotValidException">
        <soap:fault name="FilterNotValidException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
    </operation>
    <operation name="getContentStream">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="OffsetException">
        <soap:fault name="OffsetException" use="literal" />
      </fault>
      <fault name="StreamNotSupportedException">
        <soap:fault name="StreamNotSupportedException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="StorageException">
        <soap:fault name="StorageException" use="literal" />
      </fault>
    </operation>
    <operation name="updateProperties">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
    </operation>
    <operation name="moveObject">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal" />
      </fault>
      <fault name="NotInFolderException">
        <soap:fault name="NotInFolderException" use="literal" />
      </fault>
    </operation>
    <operation name="deleteObject">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
    </operation>
    <operation name="deleteTree">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="FolderNotValidException">
        <soap:fault name="FolderNotValidException" use="literal" />
      </fault>
    </operation>
    <operation name="setContentStream">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="StreamNotSupportedException">
        <soap:fault name="StreamNotSupportedException" use="literal" />
      </fault>
      <fault name="StorageException">
        <soap:fault name="StorageException" use="literal" />
      </fault>
      <fault name="ContentAlreadyExistsException">
        <soap:fault name="ContentAlreadyExistsException" use="literal" />
      </fault>
    </operation>
    <operation name="deleteContentStream">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="StreamNotSupportedException">
        <soap:fault name="StreamNotSupportedException" use="literal" />
      </fault>
      <fault name="StorageException">
        <soap:fault name="StorageException" use="literal" />
      </fault>
      <fault name="VersioningException">
        <soap:fault name="VersioningException" use="literal" />
      </fault>
    </operation>
  </binding>
  <service name="ObjectService">
    <port name="ObjectServicePort" binding="cmis:ObjectServicePortBinding">
      <soap:address location="_REPLACE_WITH_ACTUAL_URL_" />
    </port>
  </service>
</definitions>