source/wsdl/PolicyService.wsdl

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<definitions 
xmlns:cmis="http://www.cmis.org/2008/05" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns="http://schemas.xmlsoap.org/wsdl/" 
xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" 
name="PolicyService" targetNamespace="http://www.cmis.org/2008/05">
  <types>
    <!--
		<xsd:schema>
			<xsd:import namespace="http://cmis.org/_TBD_" schemaLocation="_TBD_.xsd"/>
		</xsd:schema>
		-->
    <!-- had to use include - .net wsdl.exe code generator doesn't seem to like imports on the schema -->
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.cmis.org/2008/05">
      <xsd:include schemaLocation="cmisMessageTypes.xsd" />
    </xsd:schema>
  </types>
  <message name="applyPolicyRequest">
    <part name="parameters" element="cmis:applyPolicy" />
  </message>
  <message name="applyPolicyResponse">
    <part name="parameters" element="cmis:applyPolicyResponse" />
  </message>
  <message name="removePolicyRequest">
    <part name="parameters" element="cmis:removePolicy" />
  </message>
  <message name="removePolicyResponse">
    <part name="parameters" element="cmis:removePolicyResponse" />
  </message>
  <message name="getAppliedPoliciesRequest">
    <part name="parameters" element="cmis:getAppliedPolicies" />
  </message>
  <message name="getAppliedPoliciesResponse">
    <part name="parameters" element="cmis:getAppliedPoliciesResponse" />
  </message>
  <message name="InvalidArgumentException">
    <part name="fault" element="cmis:invalidArgumentException" />
  </message>
  <message name="PermissionDeniedException">
    <part name="fault" element="cmis:permissionDeniedException" />
  </message>
  <message name="OperationNotSupportedException">
    <part name="fault" element="cmis:operationNotSupportedException" />
  </message>
  <message name="UpdateConflictException">
    <part name="fault" element="cmis:updateConflictException" />
  </message>
  <message name="RuntimeException">
    <part name="fault" element="cmis:runtimeException" />
  </message>
  <message name="ConstraintViolationException">
    <part name="fault" element="cmis:constraintViolationException" />
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="cmis:objectNotFoundException" />
  </message>
  <message name="FilterNotValidException">
    <part name="fault" element="cmis:filterNotValidException" />
  </message>
  <portType name="PolicyServicePort">
    <operation name="applyPolicy">
      <input message="cmis:applyPolicyRequest" />
      <output message="cmis:applyPolicyResponse" />
      <fault name="InvalidArgumentException" message="cmis:InvalidArgumentException" />
      <fault name="PermissionDeniedException" message="cmis:PermissionDeniedException" />
      <fault name="OperationNotSupportedException" message="cmis:OperationNotSupportedException" />
      <fault name="UpdateConflictException" message="cmis:UpdateConflictException" />
      <fault name="RuntimeException" message="cmis:RuntimeException" />
      <fault name="ConstraintViolationException" message="cmis:ConstraintViolationException" />
      <fault name="ObjectNotFoundException" message="cmis:ObjectNotFoundException" />
    </operation>
    <operation name="removePolicy">
      <input message="cmis:removePolicyRequest" />
      <output message="cmis:removePolicyResponse" />
      <fault name="InvalidArgumentException" message="cmis:InvalidArgumentException" />
      <fault name="PermissionDeniedException" message="cmis:PermissionDeniedException" />
      <fault name="OperationNotSupportedException" message="cmis:OperationNotSupportedException" />
      <fault name="UpdateConflictException" message="cmis:UpdateConflictException" />
      <fault name="RuntimeException" message="cmis:RuntimeException" />
      <fault name="ConstraintViolationException" message="cmis:ConstraintViolationException" />
      <fault name="ObjectNotFoundException" message="cmis:ObjectNotFoundException" />
    </operation>
    <operation name="getAppliedPolicies">
      <input message="cmis:getAppliedPoliciesRequest" />
      <output message="cmis:getAppliedPoliciesResponse" />
      <fault name="InvalidArgumentException" message="cmis:InvalidArgumentException" />
      <fault name="PermissionDeniedException" message="cmis:PermissionDeniedException" />
      <fault name="OperationNotSupportedException" message="cmis:OperationNotSupportedException" />
      <fault name="UpdateConflictException" message="cmis:UpdateConflictException" />
      <fault name="RuntimeException" message="cmis:RuntimeException" />
      <fault name="ConstraintViolationException" message="cmis:ConstraintViolationException" />
      <fault name="ObjectNotFoundException" message="cmis:ObjectNotFoundException" />
      <fault name="FilterNotValidException" message="cmis:FilterNotValidException" />
    </operation>
  </portType>
  <binding name="PolicyServicePortBinding" type="cmis:PolicyServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="applyPolicy">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
    </operation>
    <operation name="removePolicy">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
    </operation>
    <operation name="getAppliedPolicies">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="FilterNotValidException">
        <soap:fault name="FilterNotValidException" use="literal" />
      </fault>
    </operation>
  </binding>
  <service name="PolicyService">
    <port name="PolicyServicePort" binding="cmis:PolicyServicePortBinding">
      <soap:address location="_REPLACE_WITH_ACTUAL_URL_" />
    </port>
  </service>
</definitions>