source/wsdl/RelationshipService.wsdl

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<definitions xmlns:tns="http://www.cmis.org/ns/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" name="RelationshipService" targetNamespace="http://www.cmis.org/ns/1.0">
  <types>
    <!--
		<xsd:schema>
			<xsd:import namespace="http://cmis.org/_TBD_" schemaLocation="_TBD_.xsd"/>
		</xsd:schema>
		-->
    <!-- had to use include - .net wsdl.exe code generator doesn't seem to like imports on the schema -->
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.cmis.org/ns/1.0">
      <xsd:include schemaLocation="cmisMessageTypes.xsd" />
    </xsd:schema>
  </types>
  <message name="getRelationships">
    <part name="parameters" element="tns:getRelationships" />
  </message>
  <message name="getRelationshipsResponse">
    <part name="parameters" element="tns:getRelationshipsResponse" />
  </message>
  <message name="InvalidArgumentException">
    <part name="fault" element="tns:invalidArgumentException" />
  </message>
  <message name="PermissionDeniedException">
    <part name="fault" element="tns:permissionDeniedException" />
  </message>
  <message name="OperationNotSupportedException">
    <part name="fault" element="tns:operationNotSupportedException" />
  </message>
  <message name="UpdateConflictException">
    <part name="fault" element="tns:updateConflictException" />
  </message>
  <message name="RuntimeException">
    <part name="fault" element="tns:runtimeException" />
  </message>
  <message name="ConstraintViolationException">
    <part name="fault" element="tns:constraintViolationException" />
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="tns:objectNotFoundException" />
  </message>
  <message name="FilterNotValidException">
    <part name="fault" element="tns:filterNotValidException" />
  </message>
  <message name="TypeNotFoundException">
    <part name="fault" element="tns:typeNotFoundException" />
  </message>
  <portType name="RelationshipServicePort">
    <operation name="getRelationships">
      <input message="tns:getRelationships" />
      <output message="tns:getRelationshipsResponse" />
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" />
      <fault message="tns:PermissionDeniedException" name="PermissionDeniedException" />
      <fault message="tns:OperationNotSupportedException" name="OperationNotSupportedException" />
      <fault message="tns:UpdateConflictException" name="UpdateConflictException" />
      <fault message="tns:RuntimeException" name="RuntimeException" />
      <fault message="tns:ConstraintViolationException" name="ConstraintViolationException" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:FilterNotValidException" name="FilterNotValidException" />
      <fault message="tns:TypeNotFoundException" name="TypeNotFoundException" />
    </operation>
  </portType>
  <binding name="RelationshipServicePortBinding" type="tns:RelationshipServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getRelationships">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="FilterNotValidException">
        <soap:fault name="FilterNotValidException" use="literal" />
      </fault>
      <fault name="TypeNotFoundException">
        <soap:fault name="TypeNotFoundException" use="literal" />
      </fault>
    </operation>
  </binding>
  <service name="RelationshipService">
    <port name="RelationshipServicePort" binding="tns:RelationshipServicePortBinding">
      <soap:address location="_REPLACE_WITH_ACTUAL_URL_" />
    </port>
  </service>
</definitions>