source/wsdl/RepositoryService.wsdl

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<definitions 
xmlns:cmis="http://www.cmis.org/2008/05" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns="http://schemas.xmlsoap.org/wsdl/" 
xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" 
name="RepositoryService" targetNamespace="http://www.cmis.org/2008/05">
  <types>
    <!--
		<xsd:schema>
			<xsd:import namespace="http://cmis.org/_TBD_" schemaLocation="_TBD_.xsd"/>
		</xsd:schema>
		-->
    <!-- had to use include - .net wsdl.exe code generator doesn't seem to like imports on the schema -->
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.cmis.org/2008/05">
      <xsd:include schemaLocation="cmisMessageTypes.xsd" />
    </xsd:schema>
  </types>
  <message name="getRepositoriesRequest">
    <part name="parameters" element="cmis:getRepositories" />
  </message>
  <message name="getRepositoriesResponse">
    <part name="parameters" element="cmis:getRepositoriesResponse" />
  </message>
  <message name="getRepositoryInfoRequest">
    <part name="parameters" element="cmis:getRepositoryInfo" />
  </message>
  <message name="getRepositoryInfoResponse">
    <part name="parameters" element="cmis:getRepositoryInfoResponse" />
  </message>
  <message name="getTypesRequest">
    <part name="parameters" element="cmis:getTypes" />
  </message>
  <message name="getTypesResponse">
    <part name="parameters" element="cmis:getTypesResponse" />
  </message>
  <message name="getTypeDefinitionRequest">
    <part name="parameters" element="cmis:getTypeDefinition" />
  </message>
  <message name="getTypeDefinitionResponse">
    <part name="parameters" element="cmis:getTypeDefinitionResponse" />
  </message>
  <message name="InvalidArgumentException">
    <part name="fault" element="cmis:invalidArgumentException" />
  </message>
  <message name="PermissionDeniedException">
    <part name="fault" element="cmis:permissionDeniedException" />
  </message>
  <message name="OperationNotSupportedException">
    <part name="fault" element="cmis:operationNotSupportedException" />
  </message>
  <message name="UpdateConflictException">
    <part name="fault" element="cmis:updateConflictException" />
  </message>
  <message name="RuntimeException">
    <part name="fault" element="cmis:runtimeException" />
  </message>
  <message name="FilterNotValidException">
    <part name="fault" element="cmis:filterNotValidException" />
  </message>
  <message name="TypeNotFoundException">
    <part name="fault" element="cmis:typeNotFoundException" />
  </message>
  <message name="ConstraintViolationException">
    <part name="fault" element="cmis:constraintViolationException" />
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="cmis:objectNotFoundException" />
  </message>
  <portType name="RepositoryServicePort">
    <operation name="getRepositories">
      <input message="cmis:getRepositoriesRequest" />
      <output message="cmis:getRepositoriesResponse" />
      <fault message="cmis:InvalidArgumentException" name="InvalidArgumentException" />
      <fault message="cmis:PermissionDeniedException" name="PermissionDeniedException" />
      <fault message="cmis:OperationNotSupportedException" name="OperationNotSupportedException" />
      <fault message="cmis:UpdateConflictException" name="UpdateConflictException" />
      <fault message="cmis:RuntimeException" name="RuntimeException" />
    </operation>
    <operation name="getRepositoryInfo">
      <input message="cmis:getRepositoryInfoRequest" />
      <output message="cmis:getRepositoryInfoResponse" />
      <fault message="cmis:InvalidArgumentException" name="InvalidArgumentException" />
      <fault message="cmis:PermissionDeniedException" name="PermissionDeniedException" />
      <fault message="cmis:OperationNotSupportedException" name="OperationNotSupportedException" />
      <fault message="cmis:UpdateConflictException" name="UpdateConflictException" />
      <fault message="cmis:RuntimeException" name="RuntimeException" />
      <fault message="cmis:ConstraintViolationException" name="ConstraintViolationException" />
      <fault message="cmis:ObjectNotFoundException" name="ObjectNotFoundException" />
    </operation>
    <operation name="getTypes">
      <input message="cmis:getTypesRequest" />
      <output message="cmis:getTypesResponse" />
      <fault message="cmis:InvalidArgumentException" name="InvalidArgumentException" />
      <fault message="cmis:PermissionDeniedException" name="PermissionDeniedException" />
      <fault message="cmis:OperationNotSupportedException" name="OperationNotSupportedException" />
      <fault message="cmis:UpdateConflictException" name="UpdateConflictException" />
      <fault message="cmis:RuntimeException" name="RuntimeException" />
      <fault message="cmis:ConstraintViolationException" name="ConstraintViolationException" />
      <fault message="cmis:ObjectNotFoundException" name="ObjectNotFoundException" />
    </operation>
    <operation name="getTypeDefinition">
      <input message="cmis:getTypeDefinitionRequest" />
      <output message="cmis:getTypeDefinitionResponse" />
      <fault message="cmis:InvalidArgumentException" name="InvalidArgumentException" />
      <fault message="cmis:PermissionDeniedException" name="PermissionDeniedException" />
      <fault message="cmis:OperationNotSupportedException" name="OperationNotSupportedException" />
      <fault message="cmis:UpdateConflictException" name="UpdateConflictException" />
      <fault message="cmis:RuntimeException" name="RuntimeException" />
      <fault message="cmis:TypeNotFoundException" name="TypeNotFoundException" />
      <fault message="cmis:ConstraintViolationException" name="ConstraintViolationException" />
      <fault message="cmis:ObjectNotFoundException" name="ObjectNotFoundException" />
    </operation>
  </portType>
  <binding name="RepositoryServicePortBinding" type="cmis:RepositoryServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getRepositories">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
    </operation>
    <operation name="getRepositoryInfo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
    </operation>
    <operation name="getTypes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
    </operation>
    <operation name="getTypeDefinition">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="TypeNotFoundException">
        <soap:fault name="TypeNotFoundException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
    </operation>
  </binding>
  <service name="RepositoryService">
    <port name="RepositoryServicePort" binding="cmis:RepositoryServicePortBinding">
      <soap:address location="_REPLACE_WITH_ACTUAL_URL_" />
    </port>
  </service>
</definitions>