source/wsdl/VersioningService.wsdl

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<definitions 
xmlns:cmis="http://www.cmis.org/2008/05" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns="http://schemas.xmlsoap.org/wsdl/" 
xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" 
name="VersioningService" targetNamespace="http://www.cmis.org/2008/05">
  <types>
    <!--
		<xsd:schema>
			<xsd:import namespace="http://cmis.org/_TBD_" schemaLocation="_TBD_.xsd"/>
		</xsd:schema>
		-->
    <!-- had to use include - .net wsdl.exe code generator doesn't seem to like imports on the schema -->
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.cmis.org/2008/05">
      <xsd:include schemaLocation="cmisMessageTypes.xsd" />
    </xsd:schema>
  </types>
  <message name="checkOutRequest">
    <part name="parameters" element="cmis:checkOut" />
  </message>
  <message name="checkOutResponse">
    <part name="parameters" element="cmis:checkOutResponse" />
  </message>
  <message name="cancelCheckOutRequest">
    <part name="parameters" element="cmis:cancelCheckOut" />
  </message>
  <message name="cancelCheckOutResponse">
    <part name="parameters" element="cmis:cancelCheckOutResponse" />
  </message>
  <message name="checkInRequest">
    <part name="parameters" element="cmis:checkIn" />
  </message>
  <message name="checkInResponse">
    <part name="parameters" element="cmis:checkInResponse" />
  </message>
  <message name="getPropertiesOfLatestVersionRequest">
    <part name="parameters" element="cmis:getPropertiesOfLatestVersion" />
  </message>
  <message name="getPropertiesOfLatestVersionResponse">
    <part name="parameters" element="cmis:getPropertiesOfLatestVersionResponse" />
  </message>
  <message name="getAllVersionsRequest">
    <part name="parameters" element="cmis:getAllVersions" />
  </message>
  <message name="getAllVersionsResponse">
    <part name="parameters" element="cmis:getAllVersionsResponse" />
  </message>
  <message name="deleteAllVersionsRequest">
    <part name="parameters" element="cmis:deleteAllVersions" />
  </message>
  <message name="deleteAllVersionsResponse">
    <part name="parameters" element="cmis:deleteAllVersionsResponse" />
  </message>
  <message name="InvalidArgumentException">
    <part name="fault" element="cmis:invalidArgumentException" />
  </message>
  <message name="PermissionDeniedException">
    <part name="fault" element="cmis:permissionDeniedException" />
  </message>
  <message name="OperationNotSupportedException">
    <part name="fault" element="cmis:operationNotSupportedException" />
  </message>
  <message name="UpdateConflictException">
    <part name="fault" element="cmis:updateConflictException" />
  </message>
  <message name="RuntimeException">
    <part name="fault" element="cmis:runtimeException" />
  </message>
  <message name="ConstraintViolationException">
    <part name="fault" element="cmis:constraintViolationException" />
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="cmis:objectNotFoundException" />
  </message>
  <message name="FilterNotValidException">
    <part name="fault" element="cmis:filterNotValidException" />
  </message>
  <message name="StreamNotSupportedException">
    <part name="fault" element="cmis:streamNotSupportedException" />
  </message>
  <message name="StorageException">
    <part name="fault" element="cmis:storageException" />
  </message>
  <portType name="VersioningServicePort">
    <operation name="checkOut">
      <input message="cmis:checkOutRequest" />
      <output message="cmis:checkOutResponse" />
      <fault name="InvalidArgumentException" message="cmis:InvalidArgumentException" />
      <fault name="PermissionDeniedException" message="cmis:PermissionDeniedException" />
      <fault name="OperationNotSupportedException" message="cmis:OperationNotSupportedException" />
      <fault name="UpdateConflictException" message="cmis:UpdateConflictException" />
      <fault name="RuntimeException" message="cmis:RuntimeException" />
      <fault name="ConstraintViolationException" message="cmis:ConstraintViolationException" />
      <fault name="ObjectNotFoundException" message="cmis:ObjectNotFoundException" />
    </operation>
    <operation name="cancelCheckOut">
      <input message="cmis:cancelCheckOutRequest" />
      <output message="cmis:cancelCheckOutResponse" />
      <fault name="InvalidArgumentException" message="cmis:InvalidArgumentException" />
      <fault name="PermissionDeniedException" message="cmis:PermissionDeniedException" />
      <fault name="OperationNotSupportedException" message="cmis:OperationNotSupportedException" />
      <fault name="UpdateConflictException" message="cmis:UpdateConflictException" />
      <fault name="RuntimeException" message="cmis:RuntimeException" />
      <fault name="ObjectNotFoundException" message="cmis:ObjectNotFoundException" />
    </operation>
    <operation name="checkIn">
      <input message="cmis:checkInRequest" />
      <output message="cmis:checkInResponse" />
      <fault name="InvalidArgumentException" message="cmis:InvalidArgumentException" />
      <fault name="PermissionDeniedException" message="cmis:PermissionDeniedException" />
      <fault name="OperationNotSupportedException" message="cmis:OperationNotSupportedException" />
      <fault name="UpdateConflictException" message="cmis:UpdateConflictException" />
      <fault name="RuntimeException" message="cmis:RuntimeException" />
      <fault name="ConstraintViolationException" message="cmis:ConstraintViolationException" />
      <fault name="ObjectNotFoundException" message="cmis:ObjectNotFoundException" />
      <fault name="StreamNotSupportedException" message="cmis:StreamNotSupportedException" />
      <fault name="StorageException" message="cmis:StorageException" />
    </operation>
    <operation name="getPropertiesOfLatestVersion">
      <input message="cmis:getPropertiesOfLatestVersionRequest" />
      <output message="cmis:getPropertiesOfLatestVersionResponse" />
      <fault name="InvalidArgumentException" message="cmis:InvalidArgumentException" />
      <fault name="PermissionDeniedException" message="cmis:PermissionDeniedException" />
      <fault name="OperationNotSupportedException" message="cmis:OperationNotSupportedException" />
      <fault name="UpdateConflictException" message="cmis:UpdateConflictException" />
      <fault name="RuntimeException" message="cmis:RuntimeException" />
      <fault name="FilterNotValidException" message="cmis:FilterNotValidException" />
      <fault name="ObjectNotFoundException" message="cmis:ObjectNotFoundException" />
    </operation>
    <operation name="getAllVersions">
      <input message="cmis:getAllVersionsRequest" />
      <output message="cmis:getAllVersionsResponse" />
      <fault name="InvalidArgumentException" message="cmis:InvalidArgumentException" />
      <fault name="PermissionDeniedException" message="cmis:PermissionDeniedException" />
      <fault name="OperationNotSupportedException" message="cmis:OperationNotSupportedException" />
      <fault name="UpdateConflictException" message="cmis:UpdateConflictException" />
      <fault name="RuntimeException" message="cmis:RuntimeException" />
      <fault name="ConstraintViolationException" message="cmis:ConstraintViolationException" />
      <fault name="ObjectNotFoundException" message="cmis:ObjectNotFoundException" />
      <fault name="FilterNotValidException" message="cmis:FilterNotValidException" />
    </operation>
    <operation name="deleteAllVersions">
      <input message="cmis:deleteAllVersionsRequest" />
      <output message="cmis:deleteAllVersionsResponse" />
      <fault name="InvalidArgumentException" message="cmis:InvalidArgumentException" />
      <fault name="PermissionDeniedException" message="cmis:PermissionDeniedException" />
      <fault name="OperationNotSupportedException" message="cmis:OperationNotSupportedException" />
      <fault name="UpdateConflictException" message="cmis:UpdateConflictException" />
      <fault name="RuntimeException" message="cmis:RuntimeException" />
      <fault name="ConstraintViolationException" message="cmis:ConstraintViolationException" />
      <fault name="ObjectNotFoundException" message="cmis:ObjectNotFoundException" />
    </operation>
  </portType>
  <binding name="VersioningServicePortBinding" type="cmis:VersioningServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="checkOut">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
    </operation>
    <operation name="cancelCheckOut">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
    </operation>
    <operation name="checkIn">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="StreamNotSupportedException">
        <soap:fault name="StreamNotSupportedException" use="literal" />
      </fault>
      <fault name="StorageException">
        <soap:fault name="StorageException" use="literal" />
      </fault>
    </operation>
    <operation name="getPropertiesOfLatestVersion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="FilterNotValidException">
        <soap:fault name="FilterNotValidException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
    </operation>
    <operation name="getAllVersions">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="FilterNotValidException">
        <soap:fault name="FilterNotValidException" use="literal" />
      </fault>
    </operation>
    <operation name="deleteAllVersions">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal" />
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal" />
      </fault>
      <fault name="OperationNotSupportedException">
        <soap:fault name="OperationNotSupportedException" use="literal" />
      </fault>
      <fault name="UpdateConflictException">
        <soap:fault name="UpdateConflictException" use="literal" />
      </fault>
      <fault name="RuntimeException">
        <soap:fault name="RuntimeException" use="literal" />
      </fault>
      <fault name="ConstraintViolationException">
        <soap:fault name="ConstraintViolationException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
    </operation>
  </binding>
  <service name="VersioningService">
    <port name="VersioningServicePort" binding="cmis:VersioningServicePortBinding">
      <soap:address location="_REPLACE_WITH_ACTUAL_URL_" />
    </port>
  </service>
</definitions>